Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format

feat(rust): number messages when trying to delete project members
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
Owners: @build-trust/approvers

feat(rust): implement a more efficient function to delete all project members at once
  implementations/rust/ockam/ockam_api/src/authenticator/direct/client.rs
  implementations/rust/ockam/ockam_api/src/authenticator/direct/direct_authenticator.rs
  implementations/rust/ockam/ockam_api/src/authenticator/direct/direct_authenticator_worker.rs
Owners: @build-trust/approvers

feat(rust): use the project name directly for member commands
  implementations/rust/ockam/ockam_command/src/project/delete.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project_member/add.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
  implementations/rust/ockam/ockam_command/src/project_member/list.rs
  implementations/rust/ockam/ockam_command/src/project_member/list_ids.rs
  implementations/rust/ockam/ockam_command/src/project_member/mod.rs
  implementations/rust/ockam/ockam_command/src/project_member/show.rs
Owners: @build-trust/approvers

fix(rust): generate the enrollment ticket using the project route, and not its id
  implementations/rust/ockam/ockam_api/src/cli_state/enrollments.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
Owners: @build-trust/approvers

chore: upgrade the opentelemetry libraries
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/logs/log_exporters.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_node/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
Owners: @build-trust/approvers

fix(rust): generate the enrollment ticket using the project route, and not its id
  implementations/rust/ockam/ockam_api/src/cli_state/enrollments.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
Owners: @build-trust/approvers

chore: upgrade the opentelemetry libraries
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/logs/log_exporters.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_node/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
Owners: @build-trust/approvers

ci: crate release 15-10-2024
  implementations/rust/ockam/ockam_api/CHANGELOG.md
  implementations/rust/ockam/ockam_command/CHANGELOG.md
  implementations/rust/ockam/ockam_core/CHANGELOG.md
  implementations/rust/ockam/ockam_node/CHANGELOG.md
  implementations/rust/ockam/ockam_transport_tcp/CHANGELOG.md
Owners: @build-trust/approvers

ci: crate release 15-10-2024
  implementations/rust/ockam/ockam_api/CHANGELOG.md
  implementations/rust/ockam/ockam_command/CHANGELOG.md
  implementations/rust/ockam/ockam_core/CHANGELOG.md
  implementations/rust/ockam/ockam_node/CHANGELOG.md
  implementations/rust/ockam/ockam_transport_tcp/CHANGELOG.md
Owners: @build-trust/approvers

ci: add rendezvous service deployment to release pipeline
  tools/scripts/release/release.sh
Owners: @build-trust/approvers

ci: add rendezvous service deployment to release pipeline
  tools/scripts/release/release.sh
Owners: @build-trust/approvers

test(rust): `node create` name arg is handled correctly when used with configurations args
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/kafka_inlet.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/kafka_outlet.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/node.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/policies.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/project_enroll.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/relays.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/tcp_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/tcp_outlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/version.rs
Owners: @build-trust/approvers

test(rust): `node create` name arg is handled correctly when used with configurations args
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/kafka_inlet.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/kafka_outlet.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/node.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/policies.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/project_enroll.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/relays.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/tcp_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/tcp_outlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/version.rs
Owners: @build-trust/approvers

fix(rust): `project enroll` should not try to fetch project data from orchestrator
  implementations/rust/ockam/ockam_api/src/nodes/service/projects.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
Owners: @build-trust/approvers

fix(rust): `project enroll` should not try to fetch project data from orchestrator
  implementations/rust/ockam/ockam_api/src/nodes/service/projects.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
Owners: @build-trust/approvers

fix: fixed some flaky tests and stopping nodes gracefully
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/load/orchestrator.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/setup_suite.bash
Owners: @build-trust/approvers

chore(rust): disabled `SQLite` `WAL` mode, revertable commit
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/orchestrator.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/reset.bats
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

fix: auto retry `SQLite` queries and transactions when the failure is a deadlock
  implementations/rust/ockam/ockam_api/src/cli_state/repositories.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/auto_retry.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/mod.rs
Owners: @build-trust/approvers

feat(rust): switching to sqlite wal mode for better concurrency
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/orchestrator.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/reset.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migrator.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20231231100000_node_name_identity_attributes.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240111100001_add_authority_tables.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240111100002_delete_trust_context.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240212100000_split_policies.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240313100000_remove_orphan_resources.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240503100000_update_policy_expressions.rs
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

ci: upload logs of bats tests
  .github/workflows/rust.yml
Owners: @build-trust/ci-approvers

feat(rust): fix ebpf non-contiguous memory access
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_ebpf/src/common.rs
  implementations/rust/ockam/ockam_ebpf/src/conversion.rs
  implementations/rust/ockam/ockam_ebpf/src/entrypoint.rs
Owners: @build-trust/approvers

feat(rust): `eBPF` portal updates:
  Cargo.lock
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_transport_core/src/error.rs
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/internal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/pnet_helper.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
Owners: @build-trust/approvers

ci: improve `BATS_LIB` search process
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
Owners: @build-trust/approvers

test(rust): add ebpf portal bats tests
  .github/workflows/rust.yml
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/portals_ebpf.bats
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/setup_suite.bash
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/raw_socket_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/remote_worker.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): introduce `OCKAM_EBPF` environment variable
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/portals_ebpf.bats
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/setup_suite.bash
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
Owners: @build-trust/approvers

test(rust): add ebpf portal bats tests
  .github/workflows/rust.yml
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/portals_ebpf.bats
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/setup_suite.bash
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/raw_socket_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/remote_worker.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): fix ebpf non-contiguous memory access
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_ebpf/src/common.rs
  implementations/rust/ockam/ockam_ebpf/src/conversion.rs
  implementations/rust/ockam/ockam_ebpf/src/entrypoint.rs
Owners: @build-trust/approvers

ci: upload logs of bats tests
  .github/workflows/rust.yml
Owners: @build-trust/ci-approvers

feat(rust): introduce `OCKAM_EBPF` environment variable
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/portals_ebpf.bats
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/setup_suite.bash
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
Owners: @build-trust/approvers

feat(rust): `eBPF` portal updates:
  Cargo.lock
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_transport_core/src/error.rs
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/internal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/pnet_helper.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
Owners: @build-trust/approvers

ci: improve `BATS_LIB` search process
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
Owners: @build-trust/approvers

feat(rust): change behavior of how nodes' processes are stopped
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/notification.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/delete.rs
  implementations/rust/ockam/ockam_command/src/node/start.rs
  implementations/rust/ockam/ockam_command/src/node/stop.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
Owners: @build-trust/approvers

feat(rust): improvements to commands outputs
  implementations/rust/ockam/ockam/src/remote/worker.rs
  implementations/rust/ockam/ockam_api/src/cloud/project/models.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/node.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/services.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/transport/response.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/ui/output/utils.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/mod.rs
  implementations/rust/ockam/ockam_app_lib/src/invitations/mod.rs
  implementations/rust/ockam/ockam_app_lib/src/projects/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/relay/create.rs
  implementations/rust/ockam/ockam_command/src/identity/show.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
  implementations/rust/ockam/ockam_command/src/output/mod.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project_admin/mod.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
  implementations/rust/ockam/ockam_command/src/relay/delete.rs
  implementations/rust/ockam/ockam_command/src/relay/list.rs
  implementations/rust/ockam/ockam_command/src/relay/show.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/mod.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/show.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/list.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/show.rs
  implementations/rust/ockam/ockam_command/src/util/mod.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
  tools/stress-test/src/execution.rs
Owners: @build-trust/approvers

feat(rust): change behavior of how nodes' processes are stopped
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/notification.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/delete.rs
  implementations/rust/ockam/ockam_command/src/node/start.rs
  implementations/rust/ockam/ockam_command/src/node/stop.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
Owners: @build-trust/approvers

feat(rust): improvements to commands outputs
  implementations/rust/ockam/ockam/src/remote/worker.rs
  implementations/rust/ockam/ockam_api/src/cloud/project/models.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/node.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/services.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/transport/response.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/ui/output/utils.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/mod.rs
  implementations/rust/ockam/ockam_app_lib/src/invitations/mod.rs
  implementations/rust/ockam/ockam_app_lib/src/projects/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/relay/create.rs
  implementations/rust/ockam/ockam_command/src/identity/show.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
  implementations/rust/ockam/ockam_command/src/output/mod.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project_admin/mod.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
  implementations/rust/ockam/ockam_command/src/relay/delete.rs
  implementations/rust/ockam/ockam_command/src/relay/list.rs
  implementations/rust/ockam/ockam_command/src/relay/show.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/mod.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/show.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/list.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/show.rs
  implementations/rust/ockam/ockam_command/src/util/mod.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
  tools/stress-test/src/execution.rs
Owners: @build-trust/approvers

feat(rust): pretty json output by default, and colored if possible
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/ui/output/output_format.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/highlighting.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/mod.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/term.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/command_global_opts.rs
  implementations/rust/ockam/ockam_command/src/docs.rs
  implementations/rust/ockam/ockam_command/src/enroll/command.rs
  implementations/rust/ockam/ockam_command/src/global_args.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/secure_channel/delete.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/command_reference.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/credentials.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/jq.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/kafka.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/policies.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/relay.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/vault.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/projects.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/spaces.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/authority.bats
Owners: @build-trust/approvers

feat(rust): pretty json output by default, and colored if possible
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/ui/output/output_format.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/highlighting.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/mod.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/term.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/command_global_opts.rs
  implementations/rust/ockam/ockam_command/src/docs.rs
  implementations/rust/ockam/ockam_command/src/enroll/command.rs
  implementations/rust/ockam/ockam_command/src/global_args.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/secure_channel/delete.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/command_reference.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/credentials.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/jq.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/kafka.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/policies.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/relay.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/vault.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/projects.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/spaces.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/authority.bats
Owners: @build-trust/approvers

ci: test
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
Owners: @build-trust/approvers

fix(rust): when an item is not found an error is returned
  implementations/rust/ockam/ockam_command/src/terminal/tui.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/policies.bats
Owners: @build-trust/approvers

feat(rust): added optional watchdog for tokio blocking tasks
  Cargo.lock
  implementations/rust/ockam/ockam_node/Cargo.toml
  implementations/rust/ockam/ockam_node/src/node.rs
  implementations/rust/ockam/ockam_node/src/runtime.rs
Owners: @build-trust/approvers
