Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

remove contributors
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

cla: accepted by @ilyaaay
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

cla: accepted by @ilyaaay
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

cla: accepted by `ilyaaay`
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

feat(rust): switching key negotiation to a double secure channel
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/controller.rs
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/listener.rs
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/secure_channels.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/proxy_vault/protocol.rs
  implementations/rust/ockam/ockam_core/src/zeroize.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/decryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/handshake/handshake.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/storage/secure_channel_repository.rs
  implementations/rust/ockam/ockam_identity/src/vault.rs
  implementations/rust/ockam/ockam_node/src/context/send_message.rs
  implementations/rust/ockam/ockam_vault/src/software/vault_for_secure_channels/common.rs
  implementations/rust/ockam/ockam_vault/src/software/vault_for_secure_channels/types.rs
  implementations/rust/ockam/ockam_vault/src/software/vault_for_secure_channels/vault_for_encryption_at_rest.rs
  implementations/rust/ockam/ockam_vault/src/software/vault_for_secure_channels/vault_for_secure_channels.rs
  implementations/rust/ockam/ockam_vault/src/traits/vault_for_at_rest_encryption.rs
  implementations/rust/ockam/ockam_vault/src/traits/vault_for_secure_channels.rs
  implementations/rust/ockam/ockam_vault/src/types/hashes.rs
  implementations/rust/ockam/ockam_vault/src/types/secrets.rs
Owners: @build-trust/approvers

ci: test
  .github/workflows/rust.yml
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
Owners: @build-trust/ci-approvers, @build-trust/approvers

ci: update ubuntu version of runner image
  .github/workflows/all.yml
  .github/workflows/distroless.yml
  .github/workflows/ockam-artifact.yml
  .github/workflows/ockam-healthcheck.yml
  .github/workflows/release-bump-pull-request.yml
  .github/workflows/release-draft-binaries.yml
  .github/workflows/release-ockam-package.yml
  .github/workflows/release-publish-crates.yml
  .github/workflows/rust-ignored.yml
  .github/workflows/scorecards.yml
  .github/workflows/shell-ignored.yml
  .github/workflows/shell.yml
  .github/workflows/typos.yml
Owners: @build-trust/ci-approvers

docs: azure open ai via ockam portal
  examples/command/portals/ai/azure_openai/.gitignore
  examples/command/portals/ai/azure_openai/README.md
  examples/command/portals/ai/azure_openai/ai_corp/run.sh
  examples/command/portals/ai/azure_openai/ai_corp/run_ockam.sh
  examples/command/portals/ai/azure_openai/health_corp/client.py
  examples/command/portals/ai/azure_openai/health_corp/run.sh
  examples/command/portals/ai/azure_openai/health_corp/run_ockam.sh
  examples/command/portals/ai/azure_openai/run.sh
Owners: @build-trust/approvers

chore(rust): derive `Hash` for some core types
  implementations/rust/ockam/ockam_identity/src/secure_channel/options.rs
  implementations/rust/ockam/ockam_vault/src/types/hashes.rs
  implementations/rust/ockam/ockam_vault/src/types/secrets.rs
Owners: @build-trust/approvers

chore(rust): add low latency example
  Cargo.lock
  Cargo.toml
  examples/rust/low_latency_portal/.rustfmt.toml
  examples/rust/low_latency_portal/Cargo.toml
  examples/rust/low_latency_portal/README.md
  examples/rust/low_latency_portal/examples/config-generator.rs
  examples/rust/low_latency_portal/examples/inlet-node.rs
  examples/rust/low_latency_portal/examples/outlet-node.rs
  examples/rust/low_latency_portal/examples/relay-node.rs
  examples/rust/low_latency_portal/src/configs.rs
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

chore(rust): use `HashMap` instead of sqlite in low latency exmple
  Cargo.lock
  examples/rust/low_latency_portal/Cargo.toml
  examples/rust/low_latency_portal/examples/inlet-node.rs
  examples/rust/low_latency_portal/src/hash_map_repository.rs
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

feat: sort credentials output alphabetically
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/attributes_entry.rs
Owners: @build-trust/approvers

feat: improve stdout output for `node create`
  implementations/rust/ockam/ockam_command/src/util/foreground_args.rs
Owners: @build-trust/approvers

feat: improve logs for tcp portals creation
  examples/rust/mitm_node/src/tcp_interceptor/workers/processor.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/project.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/secure_channel.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/show.rs
  implementations/rust/ockam/ockam_command/src/util/foreground_args.rs
  implementations/rust/ockam/ockam_identity/src/credentials/credentials_verification.rs
  implementations/rust/ockam/ockam_identity/src/credentials/retriever/remote_retriever/remote_retriever.rs
  implementations/rust/ockam/ockam_identity/src/models/credential_and_purpose_key.rs
  implementations/rust/ockam/ockam_identity/src/models/timestamp.rs
  implementations/rust/ockam/ockam_identity/src/models/utils/credentials.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/handshake/handshake_worker.rs
  implementations/rust/ockam/ockam_node/src/context/context_lifecycle.rs
  implementations/rust/ockam/ockam_node/src/router/shutdown.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/addresses.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/receiver.rs
Owners: @build-trust/approvers

feat: improve logs for relay creation
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
Owners: @build-trust/approvers

feat(rust): add a custom log format to change the fields order
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/logs/logging_options.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_api/tests/logging_tracing.rs
  implementations/rust/ockam/ockam_command/src/command_global_opts.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
Owners: @build-trust/approvers

chore(rust): add some more logs to the secure-channel
  implementations/rust/ockam/ockam_identity/src/purpose_keys/purpose_key_verification.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/handshake/handshake_worker.rs
Owners: @build-trust/approvers

chore(rust): logs adjustments
  implementations/rust/ockam/ockam_api/src/logs/logging_options.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/tests/logging_tracing.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/show.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/handshake/handshake.rs
  implementations/rust/ockam/ockam_node/src/api.rs
  implementations/rust/ockam/ockam_node/src/context/receive_message.rs
Owners: @build-trust/approvers

feat: session replacer sends notifications on session lost/replaced
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/session/replacer.rs
  implementations/rust/ockam/ockam_api/src/session/session.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/fmt.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/notification.rs
  implementations/rust/ockam/ockam_api/tests/common/session.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/traits.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_node/src/router/shutdown.rs
Owners: @build-trust/approvers

fix: newlines between commands run in a configuration
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/traits.rs
Owners: @build-trust/approvers

chore: update relay and influxdb-inlet output to be consistent with the tcp-inlet
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
Owners: @build-trust/approvers

ci: distinguish between local and ockam portal influxdb port
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/use_cases.bats
Owners: @build-trust/approvers

feat(rust): spawn inlet process, wait for ack, exit
  Cargo.lock
  examples/rust/low_latency_portal/Cargo.toml
  examples/rust/low_latency_portal/examples/inlet-node.rs
Owners: @build-trust/approvers

feat(rust): add outlet tls support
  Cargo.lock
  examples/rust/low_latency_portal/Cargo.toml
  examples/rust/low_latency_portal/examples/config-generator.rs
  examples/rust/low_latency_portal/examples/outlet-node.rs
  examples/rust/low_latency_portal/src/configs.rs
Owners: @build-trust/approvers

feat(rust): attempt to implement handshake-less tcp portal
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_receiver.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_worker.rs
Owners: @build-trust/approvers

chore(rust): add inlet-node-attached
  examples/rust/low_latency_portal/examples/inlet-node-attached.rs
  examples/rust/low_latency_portal/examples/inlet-node.rs
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

chore(rust): use `HashMap` for all nodes
  examples/rust/low_latency_portal/examples/outlet-node.rs
  examples/rust/low_latency_portal/examples/relay-node.rs
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

chore(rust): add `quick` profile
  Cargo.toml
Owners: @build-trust/approvers

feat(rust): use set_nodelay for tcp streams
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/listener.rs
Owners: @build-trust/approvers

feat(rust): added support for `StartTLS` in outlets
  examples/rust/low_latency_portal/examples/outlet-node.rs
  implementations/rust/ockam/ockam/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/common.rs
Owners: @build-trust/approvers

chore(rust): use `SIGTERM` instead of udp callback
  examples/rust/low_latency_portal/examples/inlet-node-attached.rs
  examples/rust/low_latency_portal/examples/inlet-node.rs
  examples/rust/low_latency_portal/examples/outlet-node.rs
  examples/rust/low_latency_portal/examples/relay-node.rs
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

chore(rust): upgrade sqlx to 0.8.3
  Cargo.lock
  NOTICE.md
  implementations/rust/ockam/ockam_abac/Cargo.toml
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_type_policy_repository_sql.rs
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_enrollment_token_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/nodes_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/projects_repository_sql.rs
  implementations/rust/ockam/ockam_app_lib/Cargo.toml
  implementations/rust/ockam/ockam_identity/Cargo.toml
  implementations/rust/ockam/ockam_identity/src/identities/storage/change_history_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/credential_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/identity_attributes_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/purpose_keys/storage/purpose_keys_repository_sql.rs
  implementations/rust/ockam/ockam_node/Cargo.toml
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_from_row_types.rs
  implementations/rust/ockam/ockam_vault/Cargo.toml
  implementations/rust/ockam/ockam_vault/src/storage/secrets_repository_sql.rs
Owners: @build-trust/approvers

feat(rust): using single thread runtime in `inlet-example`
  examples/rust/low_latency_portal/src/lib.rs
  implementations/rust/ockam/ockam_node/src/node.rs
Owners: @build-trust/approvers

chore(rust): disable inlet logging
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

test(rust): add curl's --retry-all-errors flag in bats tests usages
  implementations/rust/ockam/ockam_command/tests/bats/local/command_reference.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/rendezvous_server.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/use_cases.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/relay.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/use_cases.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/policies.bats
  implementations/rust/ockam/ockam_command/tests/bats/serial/use_cases.bats
Owners: @build-trust/approvers

feat(rust): sending `SIGCONT` signal to the parent process when `inlet-node-attached` is ready
  examples/rust/low_latency_portal/src/lib.rs
Owners: @build-trust/approvers

feat(rust): using single thread runtime in `inlet-example`
  examples/rust/low_latency_portal/src/lib.rs
  implementations/rust/ockam/ockam_node/src/node.rs
Owners: @build-trust/approvers

feat(rust): simplify the retrieval of the postgres connection url
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
Owners: @build-trust/approvers

refactor(rust): rename telemetry env vars
  examples/command/portals/snowflake/example-1/README.md
  examples/command/portals/snowflake/example-2/README.md
  examples/command/portals/snowflake/example-2/acme_api_service/docker-compose.yml
  examples/command/portals/snowflake/example-5/README.md
  examples/command/portals/vercel/example-1/api/index.py
  implementations/rust/ockam/ockam_api/src/logs/default_values.rs
  implementations/rust/ockam/ockam_api/src/logs/env_variables.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  tools/profile/portal.allocations
  tools/profile/portal.baseline
  tools/profile/portal.cpu
  tools/profile/portal_relay.baseline
  tools/profile/portal_relay.cpu
  tools/profile/portal_two_nodes.baseline
  tools/profile/portal_two_nodes.cpu
Owners: @build-trust/approvers

feat(rust): implemented key rotation and rekeying for the kafka use case
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/controller.rs
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/mod.rs
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/secure_channels.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/inlet/request.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/inlet/response.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/inlet/tests.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/mod.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/tests.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/interceptor_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/secure_channel.rs
  implementations/rust/ockam/ockam_api/src/test_utils/mod.rs
  implementations/rust/ockam/ockam_api/tests/latency.rs
  implementations/rust/ockam/ockam_api/tests/portals.rs
  implementations/rust/ockam/ockam_core/src/compat.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/decryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/key_tracker.rs
  implementations/rust/ockam/ockam_identity/tests/channel.rs
  implementations/rust/ockam/ockam_identity/tests/persistence.rs
  implementations/rust/ockam/ockam_vault/src/error.rs
  implementations/rust/ockam/ockam_vault/src/software/vault_for_secure_channels/vault_for_secure_channels.rs
  implementations/rust/ockam/ockam_vault/src/traits/vault_for_secure_channels.rs
Owners: @build-trust/approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format
