Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

feat(rust): update ebpf
  Cargo.lock
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/privileged_portal/ebpf_support.rs
Owners: @build-trust/approvers

fix: adjust timeout used when waiting for a node to be ready
  implementations/rust/ockam/ockam_command/src/node/show.rs
Owners: @build-trust/approvers

feat(rust): add env. variables for auth0
  implementations/rust/ockam/ockam_api/src/enroll/ockam_oidc_provider.rs
  implementations/rust/ockam/ockam_api/src/enroll/oidc_service.rs
  implementations/rust/ockam/ockam_app_lib/src/enroll/enroll_user.rs
  implementations/rust/ockam/ockam_command/src/enroll/command.rs
  implementations/rust/ockam/ockam_command/src/project/addon/configure_okta.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
Owners: @build-trust/approvers

fix(rust): remove the dev. authenticator endpoint
  implementations/rust/ockam/ockam_api/src/enroll/ockam_oidc_provider.rs
Owners: @build-trust/approvers

feat: extend boolean expressions to allow key-value and identifiers
  Cargo.lock
  implementations/rust/ockam/ockam_abac/src/boolean_expr.rs
Owners: @build-trust/approvers

build: bump rustls to 0.23.18
  Cargo.lock
Owners: @build-trust/approvers

build: update url to 2.5.4
  Cargo.lock
Owners: @build-trust/approvers

chore: use crates.io published version of ockam_ebpf
  .github/workflows/all.yml
  Cargo.lock
  NOTICE.md
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  tools/nix/parts/tooling.nix
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat: adjust `enroll` logic and output for the new subscription plans
  implementations/rust/ockam/ockam_api/src/cli_state/spaces.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/spaces_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cloud/space.rs
  implementations/rust/ockam/ockam_api/src/cloud/subscription.rs
  implementations/rust/ockam/ockam_api/src/date.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/schema/schema.cddl
  implementations/rust/ockam/ockam_api/src/ui/terminal/mod.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/notification.rs
  implementations/rust/ockam/ockam_command/src/enroll/command.rs
  implementations/rust/ockam/ockam_command/src/enroll/oidc_service.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/kafka/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/kafka/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/operation/util.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project/util.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
  implementations/rust/ockam/ockam_command/src/relay/list.rs
  implementations/rust/ockam/ockam_command/src/reset.rs
  implementations/rust/ockam/ockam_command/src/space/create.rs
  implementations/rust/ockam/ockam_command/src/space/delete.rs
  implementations/rust/ockam/ockam_command/src/space/list.rs
  implementations/rust/ockam/ockam_command/src/status.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/list.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
Owners: @build-trust/approvers

test(rust): update tests using the `ENROLLMENT_TICKET` env var
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/nodes.bats
Owners: @build-trust/approvers

ci: use cross build to build linux_aarch64_gnu
  .github/workflows/release-draft-binaries.yml
  .github/workflows/rust.yml
Owners: @build-trust/ci-approvers

ci: remove support for amv7 in our docker packages
  .github/workflows/release-ockam-package.yml
Owners: @build-trust/ci-approvers

feat(rust): increased portal throughput by increasing payload size
  implementations/rust/ockam/ockam_api/tests/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_message.rs
  tools/stress-test/src/portal_simulator.rs
Owners: @build-trust/approvers

chore: re-organize and document profiling scripts
  tools/profile/README.md
  tools/profile/portal.allocations
  tools/profile/portal.baseline
  tools/profile/portal.cpu
  tools/profile/portal_relay.baseline
  tools/profile/portal_relay.cpu
  tools/profile/portal_two_nodes.baseline
  tools/profile/portal_two_nodes.cpu
Owners: @build-trust/approvers

feat(elixir): be less verbose on early disconnection
  implementations/elixir/ockam/ockam/lib/ockam/transport/tcp/handler.ex
Owners: @build-trust/approvers

feat(rust): reduce the api versions to the supported range
  Cargo.lock
  NOTICE.md
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/inlet/request.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/inlet/response.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/inlet/tests.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/outlet/response.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/tests.rs
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/utils.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/interceptor_test.rs
Owners: @build-trust/approvers

ci: crate release 30-11-2024
  Cargo.lock
  implementations/rust/ockam/ockam/CHANGELOG.md
  implementations/rust/ockam/ockam/Cargo.toml
  implementations/rust/ockam/ockam/README.md
  implementations/rust/ockam/ockam_api/CHANGELOG.md
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/README.md
  implementations/rust/ockam/ockam_app_lib/CHANGELOG.md
  implementations/rust/ockam/ockam_app_lib/Cargo.toml
  implementations/rust/ockam/ockam_app_lib/README.md
  implementations/rust/ockam/ockam_command/CHANGELOG.md
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/README.md
Owners: @build-trust/approvers

build: bump ockam-ebpf from 0.5.0 to 0.6.0
  Cargo.lock
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
Owners: @build-trust/approvers

ci: use gh cli to upload release assets instead of third party actions
  .github/workflows/release-draft-binaries.yml
Owners: @build-trust/ci-approvers

ci: point repository in gh release when upload shasum file
  .github/workflows/release-draft-binaries.yml
Owners: @build-trust/ci-approvers

fix: prevent ebpf detach on `TcpTransport` drop
  implementations/rust/ockam/ockam_transport_tcp/src/privileged_portal/transport.rs
Owners: @build-trust/approvers

fix(rust): use legacy netlink ebpf attachment on kernel version 6.6.0+
  implementations/rust/ockam/ockam_transport_tcp/src/privileged_portal/ebpf_support.rs
Owners: @build-trust/approvers

test(rust): add sleep to prevent incoming access control cache in test
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/policies.bats
Owners: @build-trust/approvers

feat(rust): added a performance-guideline for rust
  implementations/rust/performance-guideline.md
Owners: @build-trust/approvers

feat(rust): improve ockam udp transport implementation robustness
  implementations/rust/ockam/ockam_transport_udp/src/error.rs
  implementations/rust/ockam/ockam_transport_udp/src/lib.rs
  implementations/rust/ockam/ockam_transport_udp/src/messages/routing_number.rs
  implementations/rust/ockam/ockam_transport_udp/src/messages/transport_message.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/mod.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/mod.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/peer_pending_routing_message_storage.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/pending_message.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/pending_routing_message_storage.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/transport_messages_iterator.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/sender.rs
Owners: @build-trust/approvers

ci: update homebrew command
  .github/workflows/release-draft-binaries.yml
Owners: @build-trust/ci-approvers

feat(rust): introduce env variables to adjust transport performance
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/interceptor_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_core/src/env/env.rs
  implementations/rust/ockam/ockam_core/src/env/from_string.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/interceptor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_message.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_receiver.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/interceptor.rs
  implementations/rust/ockam/ockam_transport_udp/src/lib.rs
  implementations/rust/ockam/ockam_transport_udp/src/messages/transport_message.rs
  implementations/rust/ockam/ockam_transport_udp/src/options.rs
  implementations/rust/ockam/ockam_transport_udp/src/size_options.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/bind.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/mod.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/peer_pending_routing_message_storage.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/pending_routing_message_storage.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/pending_messages/transport_messages_iterator.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/sender.rs
Owners: @build-trust/approvers

feat(rust): simplify `node create` execution
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/background_node_client.rs
  implementations/rust/ockam/ockam_api/tests/common/trace_code.rs
  implementations/rust/ockam/ockam_api/tests/journeys.rs
  implementations/rust/ockam/ockam_api/tests/logging_tracing.rs
  implementations/rust/ockam/ockam_app_lib/src/log.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/command.rs
  implementations/rust/ockam/ockam_command/src/command_global_opts.rs
  implementations/rust/ockam/ockam_command/src/entry_point.rs
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/background.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/show.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/node.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/project_enroll.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/traits.rs
  implementations/rust/ockam/ockam_command/src/util/foreground_args.rs
  implementations/rust/ockam/ockam_command/src/util/mod.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator_enroll/nodes.bats
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
Owners: @build-trust/approvers

feat(rust): setting `no_delay` in every tcp connection
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/listener.rs
Owners: @build-trust/approvers

refactor(rust): extract `OCKAM_SQLITE_IN_MEMORY` env var usage up to the cli state initialization
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/cli_state/test_support.rs
  implementations/rust/ockam/ockam_api/src/cli_state/vaults.rs
  implementations/rust/ockam/ockam_api/tests/journeys.rs
  implementations/rust/ockam/ockam_api/tests/logging_tracing.rs
  implementations/rust/ockam/ockam_app_lib/src/log.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/src/command_global_opts.rs
  implementations/rust/ockam/ockam_command/src/entry_point.rs
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
  tools/stress-test/src/main.rs
Owners: @build-trust/approvers

feat(rust): add `tcp-test` tool to measure portal properties
  Cargo.lock
  Cargo.toml
  NOTICE.md
  tools/tcp-test/Cargo.toml
  tools/tcp-test/README.md
  tools/tcp-test/deploy
  tools/tcp-test/src/main.rs
  tools/tcp-test/src/server.rs
  tools/tcp-test/src/tls.rs
Owners: @build-trust/approvers

ci: up ver runner image
  .github/workflows/all.yml
Owners: @build-trust/ci-approvers

ci: up ver image in all config
  .github/workflows/distroless.yml
  .github/workflows/ockam-artifact.yml
  .github/workflows/ockam-healthcheck.yml
  .github/workflows/release-bump-pull-request.yml
  .github/workflows/release-draft-binaries.yml
  .github/workflows/release-ockam-package.yml
  .github/workflows/release-publish-crates.yml
  .github/workflows/rust-ignored.yml
  .github/workflows/scorecards.yml
  .github/workflows/shell-ignored.yml
  .github/workflows/shell.yml
  .github/workflows/typos.yml
Owners: @build-trust/ci-approvers

update contributors list
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

fix(rust): `project enroll` command won't issue a credential if run in-memory
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
Owners: @build-trust/approvers

docs: vercel example portal to private postgres db
  examples/command/portals/vercel/example-2/.gitignore
  examples/command/portals/vercel/example-2/README.md
  examples/command/portals/vercel/example-2/api/index.py
  examples/command/portals/vercel/example-2/diagram.png
  examples/command/portals/vercel/example-2/requirements.txt
  examples/command/portals/vercel/example-2/vercel.json
Owners: @build-trust/approvers

cla: accepted
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

feat(rust): added zeroize on `LocalMessage`
  Cargo.lock
  implementations/rust/ockam/ockam_api/src/echoer.rs
  implementations/rust/ockam/ockam_api/src/proxy_vault/protocol.rs
  implementations/rust/ockam/ockam_api/tests/common/session.rs
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_core/src/cbor/cow_bytes.rs
  implementations/rust/ockam/ockam_core/src/lib.rs
  implementations/rust/ockam/ockam_core/src/message.rs
  implementations/rust/ockam/ockam_core/src/routing/message/local_message.rs
  implementations/rust/ockam/ockam_core/src/zeroize.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/decryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/handshake/handshake_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/message.rs
  implementations/rust/ockam/ockam_node/src/context/send_message.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport_message.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_udp/src/messages/routing_message.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/puncture/receiver.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/puncture/sender.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/sender.rs
Owners: @build-trust/approvers

feat(rust): removed secure channel key exchange and persistency
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/cli_state/secure_channels.rs
  implementations/rust/ockam/ockam_api/src/cli_state/vaults.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/secure_channel.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/tests/credential_issuer.rs
  implementations/rust/ockam/ockam_api/tests/latency.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/decryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/encryptor_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/handshake/handshake_worker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/key_tracker.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/listener.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/mod.rs
  implementations/rust/ockam/ockam_identity/src/secure_channel/options.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/common.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_channels.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_channels_builder.rs
  implementations/rust/ockam/ockam_identity/tests/channel.rs
  implementations/rust/ockam/ockam_identity/tests/persistence.rs
Owners: @build-trust/approvers

cla: accepted by @ilyaaay
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format
