Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

cla: accepted by @ivor11
  .github/CONTRIBUTORS.csv
Owners: @build-trust/cla-pr-approvers

feat(rust): update default rendezvous server address
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
Owners: @build-trust/approvers

feat(rust): update default rendezvous server address
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
Owners: @build-trust/approvers

ci: update version of swatinem/rust-cache
  .github/actions/cache_rust/action.yml
Owners: @build-trust/ci-approvers

feat(rust): influxdb inlet/outlet that attach authorization token
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/mod.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/influxdb_portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/influxdb_portal_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/mod.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): influxdb inlet/outlet that attach authorization token
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/mod.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/influxdb_portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/influxdb_portal_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/mod.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): improve output for lease commands
  implementations/rust/ockam/ockam_api/src/influxdb/lease_token.rs
  implementations/rust/ockam/ockam_api/src/ui/colors.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/fmt.rs
  implementations/rust/ockam/ockam_command/src/lease/create.rs
Owners: @build-trust/approvers

feat(rust): refactor influxdb api client to better handle error responses
  implementations/rust/ockam/ockam_api/src/influxdb/influxdb_api_client.rs
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_processor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_worker.rs
  implementations/rust/ockam/ockam_command/src/lease/revoke.rs
  implementations/rust/ockam/ockam_command/src/lease/show.rs
  implementations/rust/ockam/ockam_core/src/api.rs
Owners: @build-trust/approvers

feat(rust): improve output for lease commands
  implementations/rust/ockam/ockam_api/src/influxdb/lease_token.rs
  implementations/rust/ockam/ockam_api/src/ui/colors.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/fmt.rs
  implementations/rust/ockam/ockam_command/src/lease/create.rs
Owners: @build-trust/approvers

feat(rust): refactor influxdb api client to better handle error responses
  implementations/rust/ockam/ockam_api/src/influxdb/influxdb_api_client.rs
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_processor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_worker.rs
  implementations/rust/ockam/ockam_command/src/lease/revoke.rs
  implementations/rust/ockam/ockam_command/src/lease/show.rs
  implementations/rust/ockam/ockam_core/src/api.rs
Owners: @build-trust/approvers

feat(rust): add `ockam_ebpf`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  NOTICE.md
  implementations/rust/ockam/ockam_ebpf/.cargo/config.toml
  implementations/rust/ockam/ockam_ebpf/CHANGELOG.md
  implementations/rust/ockam/ockam_ebpf/Cargo.lock
  implementations/rust/ockam/ockam_ebpf/Cargo.toml
  implementations/rust/ockam/ockam_ebpf/README.md
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_ebpf/rust-toolchain.toml
  implementations/rust/ockam/ockam_ebpf/src/checksum.rs
  implementations/rust/ockam/ockam_ebpf/src/checksum_helpers.rs
  implementations/rust/ockam/ockam_ebpf/src/common.rs
  implementations/rust/ockam/ockam_ebpf/src/conversion.rs
  implementations/rust/ockam/ockam_ebpf/src/entrypoint.rs
  implementations/rust/ockam/ockam_ebpf/ubuntu_arm.yaml
  implementations/rust/ockam/ockam_ebpf/ubuntu_x86.yaml
  implementations/rust/ockam/xtask/CHANGELOG.md
  implementations/rust/ockam/xtask/Cargo.toml
  implementations/rust/ockam/xtask/README.md
  implementations/rust/ockam/xtask/src/main.rs
Owners: @build-trust/approvers

feat(rust): implementation of reliable `TCP` portals
  Cargo.lock
  examples/rust/get_started/examples/11-attribute-based-authentication-control-plane.rs
  examples/rust/tcp_inlet_and_outlet/examples/01-inlet-outlet.rs
  examples/rust/tcp_inlet_and_outlet/examples/02-outlet.rs
  examples/rust/tcp_inlet_and_outlet/examples/03-outlet.rs
  examples/rust/tcp_inlet_and_outlet/examples/04-outlet.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/build.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/outlet_listener_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/addresses.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/lifecycle.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/interceptor.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
Owners: @build-trust/approvers

feat(rust): add reliable `TCP` portals to `ockam_api`&`ockam_command`
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/build.rs
  implementations/rust/ockam/ockam_api/src/kafka/inlet_controller.rs
  implementations/rust/ockam/ockam_api/src/kafka/outlet_controller.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/influxdb_portal_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_api/src/session/replacer.rs
  implementations/rust/ockam/ockam_api/tests/common/session.rs
  implementations/rust/ockam/ockam_api/tests/latency.rs
  implementations/rust/ockam/ockam_api/tests/portals.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/tcp_outlet/create.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/tcp_outlet/state.rs
  implementations/rust/ockam/ockam_command/src/reset.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
Owners: @build-trust/approvers

WIP
  implementations/rust/ockam/ockam_api/src/influxdb/token_lessor_node_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/influxdb_portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/influxdb_portal_service.rs
  implementations/rust/ockam/ockam_command/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): hide udp and ebpf options from command help
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
Owners: @build-trust/approvers

chore: fix the create inlet help message
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
Owners: @build-trust/approvers

ci: update version of swatinem/rust-cache
  .github/actions/cache_rust/action.yml
Owners: @build-trust/ci-approvers

inlet side
  implementations/rust/ockam/ockam_api/src/nodes/models/influxdb_portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/influxdb_portal_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
Owners: @build-trust/approvers

add todo
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): allow multiple values in node configuration entries
  implementations/rust/ockam/ockam_command/src/run/parser/building_blocks.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/node.rs
  implementations/rust/ockam/ockam_command/src/run/parser/variables.rs
Owners: @build-trust/approvers

feat(rust): add `ockam_ebpf`
  .cargo/config.toml
  Cargo.lock
  Cargo.toml
  NOTICE.md
  implementations/rust/ockam/ockam_ebpf/.cargo/config.toml
  implementations/rust/ockam/ockam_ebpf/CHANGELOG.md
  implementations/rust/ockam/ockam_ebpf/Cargo.lock
  implementations/rust/ockam/ockam_ebpf/Cargo.toml
  implementations/rust/ockam/ockam_ebpf/README.md
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_ebpf/rust-toolchain.toml
  implementations/rust/ockam/ockam_ebpf/src/checksum.rs
  implementations/rust/ockam/ockam_ebpf/src/checksum_helpers.rs
  implementations/rust/ockam/ockam_ebpf/src/common.rs
  implementations/rust/ockam/ockam_ebpf/src/conversion.rs
  implementations/rust/ockam/ockam_ebpf/src/entrypoint.rs
  implementations/rust/ockam/ockam_ebpf/ubuntu_arm.yaml
  implementations/rust/ockam/ockam_ebpf/ubuntu_x86.yaml
  implementations/rust/ockam/xtask/CHANGELOG.md
  implementations/rust/ockam/xtask/Cargo.toml
  implementations/rust/ockam/xtask/README.md
  implementations/rust/ockam/xtask/src/main.rs
Owners: @build-trust/approvers

feat(rust): add reliable `TCP` portals to `ockam_api`&`ockam_command`
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/build.rs
  implementations/rust/ockam/ockam_api/src/kafka/inlet_controller.rs
  implementations/rust/ockam/ockam_api/src/kafka/outlet_controller.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/influxdb_portal_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_api/src/session/replacer.rs
  implementations/rust/ockam/ockam_api/tests/common/session.rs
  implementations/rust/ockam/ockam_api/tests/latency.rs
  implementations/rust/ockam/ockam_api/tests/portals.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/tcp_outlet/create.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/tcp_outlet/state.rs
  implementations/rust/ockam/ockam_command/src/reset.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): implementation of reliable `TCP` portals
  Cargo.lock
  examples/rust/get_started/examples/11-attribute-based-authentication-control-plane.rs
  examples/rust/tcp_inlet_and_outlet/examples/01-inlet-outlet.rs
  examples/rust/tcp_inlet_and_outlet/examples/02-outlet.rs
  examples/rust/tcp_inlet_and_outlet/examples/03-outlet.rs
  examples/rust/tcp_inlet_and_outlet/examples/04-outlet.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/build.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/outlet_listener_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/addresses.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/lifecycle.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/interceptor.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
Owners: @build-trust/approvers

feat(rust): hide udp and ebpf options from command help
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
Owners: @build-trust/approvers

feat(rust): improve ux of influxdb portal commands
  Cargo.lock
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/influxdb_api_client.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/processor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_usage.rs
  implementations/rust/ockam/ockam_api/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/influxdb_portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/lease/create.rs
  implementations/rust/ockam/ockam_command/src/lease/list.rs
  implementations/rust/ockam/ockam_command/src/lease/revoke.rs
  implementations/rust/ockam/ockam_command/src/lease/show.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_transport_core/Cargo.toml
  implementations/rust/ockam/ockam_transport_core/src/hostname_port.rs
Owners: @build-trust/approvers

chore(rust): missing file
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/mod.rs
Owners: @build-trust/approvers

chore(rust): remove unused import
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
Owners: @build-trust/approvers

feat(rust): set url dep as optional on ockam_transport_core
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_transport_core/Cargo.toml
  implementations/rust/ockam/ockam_transport_core/src/hostname_port.rs
Owners: @build-trust/approvers

chore(rust): remove unused import
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
Owners: @build-trust/approvers

feat(rust): improve ux of influxdb portal commands
  Cargo.lock
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/influxdb_api_client.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/processor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_usage.rs
  implementations/rust/ockam/ockam_api/src/influxdb/mod.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/influxdb_portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/lease/create.rs
  implementations/rust/ockam/ockam_command/src/lease/list.rs
  implementations/rust/ockam/ockam_command/src/lease/revoke.rs
  implementations/rust/ockam/ockam_command/src/lease/show.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_transport_core/Cargo.toml
  implementations/rust/ockam/ockam_transport_core/src/hostname_port.rs
Owners: @build-trust/approvers

chore(rust): missing file
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/mod.rs
Owners: @build-trust/approvers

feat(rust): set url dep as optional on ockam_transport_core
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
  implementations/rust/ockam/ockam_transport_core/Cargo.toml
  implementations/rust/ockam/ockam_transport_core/src/hostname_port.rs
Owners: @build-trust/approvers

feat(rust): improve influxdb inlet|outlet command arguments
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
Owners: @build-trust/approvers

feat(rust): improve influxdb inlet|outlet command arguments
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_inlets.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
Owners: @build-trust/approvers

chore(rust): add alias `encrypted-fields` to kafka-inlet create
  implementations/rust/ockam/ockam_command/src/kafka/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/kafka_inlet.rs
Owners: @build-trust/approvers

feat(rust): add `ockam rendezvous get-my-address` command
  implementations/rust/ockam/ockam_command/src/rendezvous/get_my_address.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/mod.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
Owners: @build-trust/approvers

feat(rust): add `ockam rendezvous get-my-address` command
  implementations/rust/ockam/ockam_command/src/rendezvous/get_my_address.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/mod.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
Owners: @build-trust/approvers

feat(rust): unload ebpfs on `ockam reset`
  Cargo.lock
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/build.rs
  implementations/rust/ockam/ockam_command/src/reset.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
Owners: @build-trust/approvers

feat(rust): unload ebpfs on `ockam reset`
  Cargo.lock
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/build.rs
  implementations/rust/ockam/ockam_command/src/reset.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
Owners: @build-trust/approvers

test(rust): disable re-create outlet bats test
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
Owners: @build-trust/approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format
