Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

refactor(rust): move the notification sender logic to ockam_core
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/cli_state/identities.rs
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/cli_state/vaults.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/mod.rs
  implementations/rust/ockam/ockam_api/src/ui/terminal/notification.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/enroll/command.rs
  implementations/rust/ockam/ockam_command/src/identity/create.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/node/delete.rs
  implementations/rust/ockam/ockam_command/src/reset/mod.rs
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_core/src/lib.rs
  implementations/rust/ockam/ockam_core/src/notifier.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/portal_worker.rs
Owners: @build-trust/approvers

feat(rust): add platinum to `Subscriptions` enum to format it properly
  implementations/rust/ockam/ockam_api/src/orchestrator/subscription.rs
Owners: @build-trust/approvers

build: use a more recent version of actions/cache
  .github/actions/cache_nix/action.yml
  .github/actions/nix_installer_and_cache/action.yml
  implementations/rust/ockam/ockam_core/src/api.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

refactor(rust): logic of handling the default node name in `node create`
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/value_parsers.rs
Owners: @build-trust/approvers

feat(rust): add platinum to `Subscriptions` enum to format it properly
  implementations/rust/ockam/ockam_api/src/orchestrator/subscription.rs
Owners: @build-trust/approvers

refactor(rust): logic of handling the default node name in `node create`
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/value_parsers.rs
Owners: @build-trust/approvers

ci: update actions
  .github/actions/cache_elixir/action.yml
  .github/actions/cache_nix/action.yml
  .github/actions/elixir_cache/action.yml
  .github/actions/nix_installer_and_cache/action.yml
Owners: @build-trust/ci-approvers

feat(rust): implemented control api http server
  Cargo.lock
  implementations/rust/ockam/ockam_abac/src/error.rs
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_api/src/test_utils/mod.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_identity/src/error.rs
  implementations/rust/ockam/ockam_multiaddr/src/lib.rs
  implementations/rust/ockam/ockam_node/src/context/send_message.rs
  implementations/rust/ockam/ockam_transport_core/src/hostname_port.rs
Owners: @build-trust/approvers

feat(rust): in `Node Control API`, added crud for relay, ticket, and authority members
  implementations/rust/ockam/ockam_api/src/authenticator/direct/client.rs
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/ticket.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/project/project.rs
  implementations/rust/ockam/ockam_api/tests/direct_authenticator.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
  implementations/rust/ockam/ockam_command/src/project_member/show.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/attributes_entry.rs
Owners: @build-trust/approvers

feat(rust): added `OpenAPI` schema for `Control Node API`
  Cargo.lock
  NOTICE.md
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/exporter.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
Owners: @build-trust/approvers

feat(rust): added `self` reference as node name in `Node Control API`
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
Owners: @build-trust/approvers

build: use a more recent version of actions/cache
  .github/actions/cache_nix/action.yml
  .github/actions/nix_installer_and_cache/action.yml
  implementations/rust/ockam/ockam_core/src/api.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): node control api: bat tests for all apis and relative fixes
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/ticket.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/control_api.bats
Owners: @build-trust/approvers

fix(rust): node control api fixes and error handling refactorings
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/mod.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/control_api.bats
Owners: @build-trust/approvers

feat(rust): in `Node Control API`, added crud for relay, ticket, and authority members
  implementations/rust/ockam/ockam_api/src/authenticator/direct/client.rs
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/ticket.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/project/project.rs
  implementations/rust/ockam/ockam_api/tests/direct_authenticator.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
  implementations/rust/ockam/ockam_command/src/project_member/show.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/attributes_entry.rs
Owners: @build-trust/approvers

feat(rust): implemented control api http server
  Cargo.lock
  implementations/rust/ockam/ockam_abac/src/error.rs
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_api/src/test_utils/mod.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_identity/src/error.rs
  implementations/rust/ockam/ockam_multiaddr/src/lib.rs
  implementations/rust/ockam/ockam_node/src/context/send_message.rs
  implementations/rust/ockam/ockam_transport_core/src/hostname_port.rs
Owners: @build-trust/approvers

feat(rust): added `self` reference as node name in `Node Control API`
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
Owners: @build-trust/approvers

feat(rust): added `OpenAPI` schema for `Control Node API`
  Cargo.lock
  NOTICE.md
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/exporter.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
Owners: @build-trust/approvers

fix(rust): node control api fixes and error handling refactorings
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/mod.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/control_api.bats
Owners: @build-trust/approvers

feat(rust): node control api: bat tests for all apis and relative fixes
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/mod.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/ticket.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/service/config.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/control_api.bats
Owners: @build-trust/approvers

refactor(rust): merge functions for enriching tags
  implementations/rust/ockam/ockam_command/src/docs.rs
Owners: @build-trust/approvers

fix(rust): set node name on background nodes, instead of delegating to the foreground node
  implementations/rust/ockam/ockam_command/src/node/create.rs
Owners: @build-trust/approvers

feat(rust): node control openapi documentation
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/ticket.rs
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/node_control_api.bats
Owners: @build-trust/approvers

fix(rust): node subprocess inherits output streams
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/error.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/background.rs
  implementations/rust/ockam/ockam_command/src/node/start.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
Owners: @build-trust/approvers

fix(rust): node subprocess inherits output streams
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/error.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/background.rs
  implementations/rust/ockam/ockam_command/src/node/start.rs
  implementations/rust/ockam/ockam_command/src/node/util.rs
Owners: @build-trust/approvers

fix(rust): set node name on background nodes, instead of delegating to the foreground node
  implementations/rust/ockam/ockam_command/src/node/create.rs
Owners: @build-trust/approvers

refactor(rust): generalize the configuration of a secure client
  implementations/rust/ockam/ockam_api/src/orchestrator/secure_clients.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_identity/src/credentials/retriever/remote_retriever/remote_retriever.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
Owners: @build-trust/approvers

feat(rust): add a span exporter using a secure channel
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/logs/http_forwarder.rs
  implementations/rust/ockam/ockam_api/src/logs/mod.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/logs/secure_client_service.rs
  implementations/rust/ockam/ockam_api/src/logs/span_exporters.rs
  implementations/rust/ockam/ockam_identity/Cargo.toml
Owners: @build-trust/approvers

feat(rust): send telemetry data to the project node
  .editorconfig
  implementations/elixir/ockam/ockam_cloud_node/config/runtime.exs
  implementations/elixir/ockam/ockam_cloud_node/lib/cloud_node.ex
  implementations/elixir/ockam/ockam_cloud_node/mix.lock
  implementations/elixir/ockam/ockam_cloud_node/test/identity
  implementations/elixir/ockam/ockam_cloud_node/test/identity.id
  implementations/elixir/ockam/ockam_cloud_node/test/identity.secret
  implementations/elixir/ockam/ockam_cloud_node/test/start_node.exs
  implementations/elixir/ockam/ockam_metrics/lib/application.ex
  implementations/elixir/ockam/ockam_services/lib/services/grpc_forwarder.ex
  implementations/elixir/ockam/ockam_services/lib/services/provider/routing.ex
  implementations/elixir/ockam/ockam_services/mix.exs
  implementations/elixir/ockam/ockam_services/mix.lock
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/authority_node/node.rs
  implementations/rust/ockam/ockam_api/src/logs/env_variables.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_api/src/logs/grpc_forwarder.rs
  implementations/rust/ockam/ockam_api/src/logs/mod.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_logs_client.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/logs/secure_client_service.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_api/src/logs/span_exporters.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_core/src/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
  implementations/rust/telemetry.md
Owners: @build-trust/approvers

feat(rust): address review comments
  examples/rust/rendezvous/src/bin/client.rs
  examples/rust/rendezvous/src/bin/echo_server.rs
  implementations/rust/ockam/ockam/tests/relay.rs
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_api/src/logs/grpc_forwarder.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_logs_client.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/logs/secure_client_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/test_utils/mod.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/get_my_address.rs
  implementations/rust/ockam/ockam_identity/tests/ciphertext_message_flow_auth.rs
  implementations/rust/ockam/ockam_identity/tests/credentials_refresh.rs
  implementations/rust/ockam/ockam_identity/tests/update_route.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/connection.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/lifecycle.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/ebpf_portal.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/interceptor.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/keepalive.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/lifecycle.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/send_receive.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/rendezvous_service/rendezvous.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/lifecycle.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/mod.rs
  implementations/rust/ockam/ockam_transport_udp/tests/tests.rs
  implementations/rust/telemetry.md
  tools/stress-test/src/main.rs
Owners: @build-trust/approvers

feat(rust): send telemetry data to the project node
  .editorconfig
  implementations/elixir/ockam/ockam_cloud_node/config/runtime.exs
  implementations/elixir/ockam/ockam_cloud_node/lib/cloud_node.ex
  implementations/elixir/ockam/ockam_cloud_node/mix.lock
  implementations/elixir/ockam/ockam_cloud_node/test/identity
  implementations/elixir/ockam/ockam_cloud_node/test/identity.id
  implementations/elixir/ockam/ockam_cloud_node/test/identity.secret
  implementations/elixir/ockam/ockam_cloud_node/test/start_node.exs
  implementations/elixir/ockam/ockam_metrics/lib/application.ex
  implementations/elixir/ockam/ockam_services/lib/services/grpc_forwarder.ex
  implementations/elixir/ockam/ockam_services/lib/services/provider/routing.ex
  implementations/elixir/ockam/ockam_services/mix.exs
  implementations/elixir/ockam/ockam_services/mix.lock
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/authority_node/node.rs
  implementations/rust/ockam/ockam_api/src/logs/env_variables.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_api/src/logs/grpc_forwarder.rs
  implementations/rust/ockam/ockam_api/src/logs/mod.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_logs_client.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/logs/secure_client_service.rs
  implementations/rust/ockam/ockam_api/src/logs/setup.rs
  implementations/rust/ockam/ockam_api/src/logs/span_exporters.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_core/src/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
  implementations/rust/telemetry.md
Owners: @build-trust/approvers

refactor(rust): generalize the configuration of a secure client
  implementations/rust/ockam/ockam_api/src/orchestrator/secure_clients.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_identity/src/credentials/retriever/remote_retriever/remote_retriever.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
Owners: @build-trust/approvers

feat(rust): add a span exporter using a secure channel
  Cargo.lock
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/logs/http_forwarder.rs
  implementations/rust/ockam/ockam_api/src/logs/mod.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/logs/secure_client_service.rs
  implementations/rust/ockam/ockam_api/src/logs/span_exporters.rs
  implementations/rust/ockam/ockam_identity/Cargo.toml
Owners: @build-trust/approvers

feat(rust): address review comments
  examples/rust/rendezvous/src/bin/client.rs
  examples/rust/rendezvous/src/bin/echo_server.rs
  implementations/rust/ockam/ockam/tests/relay.rs
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_api/src/logs/grpc_forwarder.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_logs_client.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/logs/secure_client_service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/test_utils/mod.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/src/node/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/rendezvous/get_my_address.rs
  implementations/rust/ockam/ockam_identity/tests/ciphertext_message_flow_auth.rs
  implementations/rust/ockam/ockam_identity/tests/credentials_refresh.rs
  implementations/rust/ockam/ockam_identity/tests/update_route.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/connection.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/lifecycle.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/ebpf_portal.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/interceptor.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/keepalive.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/lifecycle.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/send_receive.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/rendezvous_service/rendezvous.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/lifecycle.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/mod.rs
  implementations/rust/ockam/ockam_transport_udp/tests/tests.rs
  implementations/rust/telemetry.md
  tools/stress-test/src/main.rs
Owners: @build-trust/approvers

fix(rust): fix the parsing of responses
  implementations/rust/ockam/ockam_core/src/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
Owners: @build-trust/approvers

fix(rust): fix the deserializaton of error messages in responses
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_core/src/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
Owners: @build-trust/approvers

fix(rust): fix the deserializaton of error messages in responses
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_core/src/api.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
Owners: @build-trust/approvers

feat(rust): added the possibility to overwrite http headers in inlets
  implementations/rust/ockam/ockam_api/src/http/interceptor.rs
  implementations/rust/ockam/ockam_api/src/http/mod.rs
  implementations/rust/ockam/ockam_api/src/http/state.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/registry.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/interceptors.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/node_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/util/parsers.rs
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_transport_tcp/src/portal/interceptor.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/interceptor.rs
Owners: @build-trust/approvers

feat(rust): don't create a default node for the telemetry secure client
  implementations/rust/ockam/ockam_api/src/cli_state/secure_channels.rs
  implementations/rust/ockam/ockam_api/src/logs/exporting_configuration.rs
  implementations/rust/ockam/ockam_api/src/logs/ockam_tonic_traces_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
Owners: @build-trust/approvers

fix(rust): node control api fixes and minor refactorings
  implementations/rust/ockam/ockam_api/src/control_api/backend/authority_member.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/common.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/inlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/outlet.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/relay.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/ticket.rs
  implementations/rust/ockam/ockam_api/src/control_api/http.rs
  implementations/rust/ockam/ockam_api/src/control_api/openapi.rs
  implementations/rust/ockam/ockam_api/src/control_api/protocol/inlet.rs
Owners: @build-trust/approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format
