Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

chore(rust): removed `NodeManager` dependency when instantiating a `MultiAddr`
  implementations/rust/ockam/ockam_api/src/nodes/connection/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/plain_tcp.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/plain_udp.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/project.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/secure.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
Owners: @build-trust/approvers

feat(rust): let relay service overwrite relays
  implementations/rust/ockam/ockam/src/relay_service/relay_service.rs
Owners: @build-trust/approvers

feat(rust): let relay service overwrite relays
  implementations/rust/ockam/ockam/src/relay_service/relay_service.rs
Owners: @build-trust/approvers

test(rust): fix bats test on kafka-inlet args parsing
  implementations/rust/ockam/ockam_command/src/kafka/inlet/create.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/kafka.bats
Owners: @build-trust/approvers

feat(rust): implement priority-based shutdown
  examples/rust/mitm_node/src/tcp_interceptor/workers/listener.rs
  examples/rust/mitm_node/src/tcp_interceptor/workers/processor.rs
  implementations/rust/ockam/ockam_core/src/compat.rs
  implementations/rust/ockam/ockam_node/src/context/context.rs
  implementations/rust/ockam/ockam_node/src/context/context_lifecycle.rs
  implementations/rust/ockam/ockam_node/src/context/stop_env.rs
  implementations/rust/ockam/ockam_node/src/executor.rs
  implementations/rust/ockam/ockam_node/src/node.rs
  implementations/rust/ockam/ockam_node/src/processor_builder.rs
  implementations/rust/ockam/ockam_node/src/router/mod.rs
  implementations/rust/ockam/ockam_node/src/router/processor.rs
  implementations/rust/ockam/ockam_node/src/router/record.rs
  implementations/rust/ockam/ockam_node/src/router/router.rs
  implementations/rust/ockam/ockam_node/src/router/shutdown.rs
  implementations/rust/ockam/ockam_node/src/router/state.rs
  implementations/rust/ockam/ockam_node/src/router/worker.rs
  implementations/rust/ockam/ockam_node/src/worker_builder.rs
  implementations/rust/ockam/ockam_node/tests/tests.rs
  implementations/rust/ockam/ockam_transport_ble/src/lib.rs
  implementations/rust/ockam/ockam_transport_ble/src/router/mod.rs
  implementations/rust/ockam/ockam_transport_ble/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_ble/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_ble/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_udp/src/lib.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/bind.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_uds/src/router/uds_router.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_websocket/src/lib.rs
  implementations/rust/ockam/ockam_transport_websocket/src/router/mod.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/sender.rs
Owners: @build-trust/approvers

test(rust): add test to evaluate node performance
  implementations/rust/ockam/ockam_node/tests/perf.rs
Owners: @build-trust/approvers

ci: set the correct variable for testing with postgres
  .github/workflows/rust.yml
  implementations/rust/Makefile
Owners: @build-trust/ci-approvers, @build-trust/approvers

docs: snowflake mssql example
  cleanup.sql
  examples/command/portals/snowflake/example-7/README.md
  examples/command/portals/snowflake/example-7/diagram.png
  examples/command/portals/snowflake/example-7/mssql_client/Dockerfile
  examples/command/portals/snowflake/example-7/mssql_client/connection.py
  examples/command/portals/snowflake/example-7/mssql_client/service.py
  examples/command/portals/snowflake/example-7/setup_ockam_outlet.sh
  examples/command/portals/snowflake/example-7/snowflake_scripts/access.sql
  examples/command/portals/snowflake/example-7/snowflake_scripts/cleanup.sql
  examples/command/portals/snowflake/example-7/snowflake_scripts/functions.sql
  examples/command/portals/snowflake/example-7/snowflake_scripts/init.sql
  examples/command/portals/snowflake/example-7/snowflake_scripts/service.sql
Owners: @build-trust/approvers

feat(rust): implement priority-based shutdown
  examples/rust/mitm_node/src/tcp_interceptor/workers/listener.rs
  examples/rust/mitm_node/src/tcp_interceptor/workers/processor.rs
  implementations/rust/ockam/ockam_core/src/compat.rs
  implementations/rust/ockam/ockam_node/src/context/context.rs
  implementations/rust/ockam/ockam_node/src/context/context_lifecycle.rs
  implementations/rust/ockam/ockam_node/src/context/stop_env.rs
  implementations/rust/ockam/ockam_node/src/executor.rs
  implementations/rust/ockam/ockam_node/src/lib.rs
  implementations/rust/ockam/ockam_node/src/node.rs
  implementations/rust/ockam/ockam_node/src/processor_builder.rs
  implementations/rust/ockam/ockam_node/src/router/mod.rs
  implementations/rust/ockam/ockam_node/src/router/processor.rs
  implementations/rust/ockam/ockam_node/src/router/record.rs
  implementations/rust/ockam/ockam_node/src/router/router.rs
  implementations/rust/ockam/ockam_node/src/router/shutdown.rs
  implementations/rust/ockam/ockam_node/src/router/state.rs
  implementations/rust/ockam/ockam_node/src/router/worker.rs
  implementations/rust/ockam/ockam_node/src/worker_builder.rs
  implementations/rust/ockam/ockam_node/tests/tests.rs
  implementations/rust/ockam/ockam_transport_ble/src/lib.rs
  implementations/rust/ockam/ockam_transport_ble/src/router/mod.rs
  implementations/rust/ockam/ockam_transport_ble/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_ble/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_ble/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_tcp/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_udp/src/lib.rs
  implementations/rust/ockam/ockam_transport_udp/src/transport/bind.rs
  implementations/rust/ockam/ockam_transport_udp/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_uds/src/router/uds_router.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_uds/src/workers/sender.rs
  implementations/rust/ockam/ockam_transport_websocket/src/lib.rs
  implementations/rust/ockam/ockam_transport_websocket/src/router/mod.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/listener.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/receiver.rs
  implementations/rust/ockam/ockam_transport_websocket/src/workers/sender.rs
Owners: @build-trust/approvers

feat(rust): make `RegistryOf` use `HashMap` and sync `RwLock`
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/secure_channels.rs
  implementations/rust/ockam/ockam_api/src/nodes/connection/mod.rs
  implementations/rust/ockam/ockam_api/src/nodes/registry.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/node_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/secure_channel.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/transport.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/invitations/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_core/src/compat.rs
Owners: @build-trust/approvers

fix(rust): fix log level for in-memory `SQLite` db
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): don't create a member for an opentelemetry node
  implementations/rust/ockam/ockam_command/src/authority/create.rs
Owners: @build-trust/approvers

feat(rust): let relay service overwrite relays
  implementations/rust/ockam/ockam/src/relay_service/relay_service.rs
Owners: @build-trust/approvers

docs: mssql to snowflake example refactor
  examples/command/portals/snowflake/example-7/README.md
  examples/command/portals/snowflake/example-7/snowflake_scripts/init.sql
Owners: @build-trust/approvers

docs: mssql to snowflake migration example
  examples/command/portals/snowflake/example-8/README.md
  examples/command/portals/snowflake/example-8/diagram.png
  examples/command/portals/snowflake/example-8/mssql_client/Dockerfile
  examples/command/portals/snowflake/example-8/mssql_client/connection.py
  examples/command/portals/snowflake/example-8/mssql_client/service.py
  examples/command/portals/snowflake/example-8/setup_ockam_outlet.sh
  examples/command/portals/snowflake/example-8/snowflake_scripts/access.sql
  examples/command/portals/snowflake/example-8/snowflake_scripts/cleanup.sql
  examples/command/portals/snowflake/example-8/snowflake_scripts/functions.sql
  examples/command/portals/snowflake/example-8/snowflake_scripts/init.sql
  examples/command/portals/snowflake/example-8/snowflake_scripts/service.sql
Owners: @build-trust/approvers

test(rust): add test to evaluate node performance
  implementations/rust/ockam/ockam_node/tests/perf.rs
Owners: @build-trust/approvers

feat(rust): update the postgres schema
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
  implementations/rust/ockam/ockam_api/src/cli_state/spaces.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/nodes_repository.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/nodes_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/projects_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/spaces_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/users_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/test_utils/mod.rs
  implementations/rust/ockam/ockam_app_lib/src/enroll/enroll_user.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_app_lib/src/state/model_state_repository_sql.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/change_history_repository_sql.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20240613100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20240703100000_add_subscriptions.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20241112100000_add_privileged_portals.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250110100000_remove_node_project.sql
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
  tools/stress-test/src/main.rs
Owners: @build-trust/approvers

feat(rust): let relay service overwrite relays
  implementations/rust/ockam/ockam/src/relay_service/relay_service.rs
Owners: @build-trust/approvers

feat(rust): don't run postgres migrations automatically on startup
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): make sure that reset can not remove postgres data
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/cli_state/vaults.rs
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): isolate member data by authority
  examples/rust/get_started/examples/06-credentials-exchange-issuer.rs
  implementations/rust/ockam/ockam_api/src/authenticator/common.rs
  implementations/rust/ockam/ockam_api/src/authenticator/credential_issuer/credential_issuer.rs
  implementations/rust/ockam/ockam_api/src/authenticator/direct/direct_authenticator.rs
  implementations/rust/ockam/ockam_api/src/authenticator/direct/direct_authenticator_worker.rs
  implementations/rust/ockam/ockam_api/src/authenticator/enrollment_tokens/acceptor.rs
  implementations/rust/ockam/ockam_api/src/authenticator/enrollment_tokens/acceptor_worker.rs
  implementations/rust/ockam/ockam_api/src/authenticator/enrollment_tokens/issuer.rs
  implementations/rust/ockam/ockam_api/src/authenticator/enrollment_tokens/issuer_worker.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_members_repository.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_members_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authority_node/authority.rs
  implementations/rust/ockam/ockam_api/src/cloud/secure_clients.rs
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_api/src/okta/mod.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_api/tests/credential_issuer.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/secure_client.rs
  implementations/rust/ockam/ockam_node/src/executor.rs
  implementations/rust/ockam/ockam_node/src/node.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/node_migration_set.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20250114100000_members_authority_id.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/mod.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20240613100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250114100000_members_authority_id.sql
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): added the possibility to overwrite http headers in inlets
  implementations/rust/ockam/ockam_api/src/http/interceptor.rs
  implementations/rust/ockam/ockam_api/src/http/mod.rs
  implementations/rust/ockam/ockam_api/src/http/state.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/lib.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/registry.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/interceptors.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/node_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/background_node_client.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/inlets_trait.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/node_manager_worker.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/util/parsers.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
Owners: @build-trust/approvers

feat(rust): fully generalized http interception
  implementations/rust/ockam/ockam_api/src/http/interceptor.rs
  implementations/rust/ockam/ockam_api/src/http/state.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/mod.rs
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
Owners: @build-trust/approvers

fix(rust): fix the migration of in-memory sqlite dbs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): update the legacy authority identity name
  .github/workflows/rust.yml
  implementations/rust/ockam/ockam_api/src/cli_state/identities.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/identities_repository.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/identities_repository_sql.rs
  implementations/rust/ockam/ockam_command/src/authority/create.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): add the nodes_projects table back
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250120100000_add_node_projects_back.sql
Owners: @build-trust/approvers

refactor(rust): revert command features
  .github/actions/build_binaries/action.yml
  Cargo.lock
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/kafka/mod.rs
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/node/create/foreground.rs
  implementations/rust/ockam/ockam_command/src/project/mod.rs
  implementations/rust/ockam/ockam_command/src/service/mod.rs
  implementations/rust/ockam/ockam_command/src/space/mod.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): add a command to migrate a postgres database
  implementations/rust/ockam/ockam_command/src/command_events.rs
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/migrate_database/mod.rs
  implementations/rust/ockam/ockam_command/src/migrate_database/static/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/migrate_database/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migration_result.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migration_status.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migrator.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/mod.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/rust_migration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20231231100000_node_name_identity_attributes.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240111100001_add_authority_tables.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240111100002_delete_trust_context.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240212100000_split_policies.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240313100000_remove_orphan_resources.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20240503100000_update_policy_expressions.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/sqlite/migration_20250114100000_members_authority_id.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

ci: only upload release assets to s3 bucket
  .github/workflows/release-draft-binaries.yml
Owners: @build-trust/ci-approvers

ci: download release assets from aws when building docker images
  .github/actions/aws_upload/action.yml
  .github/workflows/release-ockam-package.yml
  .github/workflows/release-test-draft-binaries.yml
  tools/scripts/release/release.sh
Owners: @build-trust/ci-approvers, @build-trust/approvers

ci: update release text on how to download individual binaries
  .github/workflows/release-draft-binaries.yml
Owners: @build-trust/ci-approvers

ci: enforce users to use install script, brew or docker
  .github/workflows/release-draft-binaries.yml
  tools/install.sh
Owners: @build-trust/ci-approvers, @build-trust/approvers

ci: upload binaries to /command/version/cli
  .github/actions/aws_upload/action.yml
Owners: @build-trust/ci-approvers

ci: fix install script to install latest version of ockam command
  tools/install.sh
  tools/scripts/release/release.sh
Owners: @build-trust/approvers

feat(rust): hide the migrate-database command
  implementations/rust/ockam/ockam_command/src/migrate_database/mod.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migration_result.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migration_status.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migrator.rs
Owners: @build-trust/approvers

ci: revert changes to the install script
  tools/install.sh
Owners: @build-trust/approvers

ci: use ockam aws action to get all binaries when signing shasum file
  .github/workflows/release-draft-binaries.yml
Owners: @build-trust/ci-approvers

ci: fix workflow that downloads ockam binaries during release package build
  .github/workflows/release-ockam-package.yml
Owners: @build-trust/ci-approvers

ci: use id-token permission when using aws oidc
  .github/workflows/release-ockam-package.yml
Owners: @build-trust/ci-approvers

ci: download release in assets folder for docker package release
  .github/workflows/release-ockam-package.yml
Owners: @build-trust/ci-approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format
