Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

feat(rust): add ai subcommands for enroll and ticket
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/enroll.rs
  implementations/rust/ockam/ockam_app_lib/src/enroll/enroll_user.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/enroll.rs
  implementations/rust/ockam/ockam_command/src/ai/mod.rs
  implementations/rust/ockam/ockam_command/src/ai/static/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/deploy/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/deploy/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/static/enroll/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/enroll/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/static/ticket/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/ticket/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/ticket.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
  implementations/rust/ockam/ockam_command/src/enroll/mod.rs
  implementations/rust/ockam/ockam_command/src/enroll/oidc_service.rs
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_core/src/cbor.rs
  implementations/rust/ockam/ockam_core/src/cbor/cbor_tests.rs
Owners: @build-trust/approvers

feat(rust): add `ai deploy` command
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/ai_platform.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/models.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/email_address.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/mod.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/mod.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/zone_config.rs
Owners: @build-trust/approvers

feat(rust): remove file
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
Owners: @build-trust/approvers

feat(rust): add file
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
Owners: @build-trust/approvers

build: update eclint
  .github/workflows/all.yml
Owners: @build-trust/ci-approvers

build: break editor config
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
Owners: @build-trust/approvers

feat(rust): show the user/password as mandatory in the environment help
  implementations/rust/ockam/ockam_command/src/environment/static/env_info.txt
Owners: @build-trust/approvers

feat(rust): add a tenant_id column to the postgres and sqlite schemas
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_policy_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_type_policy_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_enrollment_token_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_members_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/enrollments_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/identities_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/journeys_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/nodes_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/projects_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/spaces_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/tcp_portals_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/users_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/vaults_repository_sql.rs
  implementations/rust/ockam/ockam_app_lib/src/state/model_state_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/change_history_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/credential_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/identity_attributes_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/purpose_keys/storage/purpose_keys_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/storage/secure_channel_repository_sql.rs
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/sql/postgres/20240613110000_project_journey.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/sql/sqlite/20250407100000_tenant_id.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migrator.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/node_migration_set.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/postgres/migration_20250407100000_sqlite_initialization.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/rust/postgres/mod.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250407100000_tenant_id.sql
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
  implementations/rust/ockam/ockam_vault/src/storage/secrets_repository_sql.rs
Owners: @build-trust/approvers

test(rust): test row level security
  implementations/rust/ockam/ockam_command/src/migrate_database/mod.rs
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250410100000_tenant_id.sql
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): add row level policies
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
Owners: @build-trust/approvers

feat(rust): add user journeys to the main sql script
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
Owners: @build-trust/approvers

feat(rust): expose `Abac`
  examples/rust/get_started/examples/06-credentials-exchange-server.rs
  examples/rust/get_started/examples/11-attribute-based-authentication-control-plane.rs
  examples/rust/get_started/examples/11-attribute-based-authentication-edge-plane.rs
  implementations/rust/ockam/ockam_abac/src/abac/abac.rs
  implementations/rust/ockam/ockam_abac/src/abac/outgoing.rs
  implementations/rust/ockam/ockam_abac/src/policy/access_control.rs
  implementations/rust/ockam/ockam_abac/src/policy/outgoing.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/http/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/tcp_outlet/invitation_access_control.rs
  implementations/rust/ockam/ockam_node/src/context/context_router.rs
Owners: @build-trust/approvers

feat(rust): add `ai deploy` command
  .github/workflows/all.yml
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/ai_platform.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/models.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/email_address.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/mod.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/enroll.rs
  implementations/rust/ockam/ockam_command/src/enroll/command.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/mod.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/zone_config.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): add ai subcommands for enroll and ticket
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/enroll.rs
  implementations/rust/ockam/ockam_app_lib/src/enroll/enroll_user.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/enroll.rs
  implementations/rust/ockam/ockam_command/src/ai/mod.rs
  implementations/rust/ockam/ockam_command/src/ai/static/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/deploy/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/deploy/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/static/enroll/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/enroll/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/static/ticket/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/ticket/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/ticket.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
  implementations/rust/ockam/ockam_command/src/enroll/mod.rs
  implementations/rust/ockam/ockam_command/src/enroll/oidc_service.rs
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_core/src/cbor.rs
  implementations/rust/ockam/ockam_core/src/cbor/cbor_tests.rs
Owners: @build-trust/approvers

feat(rust): expose `Abac`
  examples/rust/get_started/examples/06-credentials-exchange-server.rs
  examples/rust/get_started/examples/11-attribute-based-authentication-control-plane.rs
  examples/rust/get_started/examples/11-attribute-based-authentication-edge-plane.rs
  implementations/rust/ockam/ockam_abac/src/abac/abac.rs
  implementations/rust/ockam/ockam_abac/src/abac/outgoing.rs
  implementations/rust/ockam/ockam_abac/src/policy/access_control.rs
  implementations/rust/ockam/ockam_abac/src/policy/outgoing.rs
  implementations/rust/ockam/ockam_api/src/control_api/backend/entrypoint.rs
  implementations/rust/ockam/ockam_api/src/control_api/frontend.rs
  implementations/rust/ockam/ockam_api/src/http/interceptor.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/tcp_outlet/invitation_access_control.rs
  implementations/rust/ockam/ockam_node/src/context/context_router.rs
Owners: @build-trust/approvers

feat(rust): add `OCKAM_SQL_LOG_LEVEL` env variable
  implementations/rust/ockam/ockam/src/lib.rs
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/config/level_var.rs
  implementations/rust/ockam/ockam_api/src/config/mod.rs
  implementations/rust/ockam/ockam_api/src/logs/env_variables.rs
  implementations/rust/ockam/ockam_api/src/logs/logging_configuration.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_api/tests/latency.rs
  implementations/rust/ockam/ockam_api/tests/portals.rs
  implementations/rust/ockam/ockam_core/src/env/from_string.rs
  implementations/rust/ockam/ockam_macros/src/node_test_attribute.rs
  implementations/rust/ockam/ockam_node/src/lib.rs
  implementations/rust/ockam/ockam_node/src/node.rs
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/application_migration_set.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/node_migration_set.rs
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): add `OCKAM_SQL_LOG_LEVEL` env variable
  implementations/rust/ockam/ockam/src/lib.rs
  implementations/rust/ockam/ockam_api/src/cli_state/cli_state.rs
  implementations/rust/ockam/ockam_api/src/config/level_var.rs
  implementations/rust/ockam/ockam_api/src/config/mod.rs
  implementations/rust/ockam/ockam_api/src/logs/env_variables.rs
  implementations/rust/ockam/ockam_api/src/logs/logging_configuration.rs
  implementations/rust/ockam/ockam_api/tests/common/common.rs
  implementations/rust/ockam/ockam_api/tests/latency.rs
  implementations/rust/ockam/ockam_api/tests/portals.rs
  implementations/rust/ockam/ockam_core/src/env/from_string.rs
  implementations/rust/ockam/ockam_macros/src/node_test_attribute.rs
  implementations/rust/ockam/ockam_node/src/lib.rs
  implementations/rust/ockam/ockam_node/src/node.rs
  implementations/rust/ockam/ockam_node/src/storage/database/database_configuration.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/application_migration_set.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/node_migration_set.rs
  implementations/rust/ockam/ockam_node/src/storage/database/sqlx_database.rs
Owners: @build-trust/approvers

feat(rust): remove row level policies related to projects
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
Owners: @build-trust/approvers

feat(rust): expose `ContextRouter`
  implementations/rust/ockam/ockam/src/lib.rs
Owners: @build-trust/approvers

feat(rust): remove row level policies related to projects
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
Owners: @build-trust/approvers

feat(rust): expose `ContextRouter`
  implementations/rust/ockam/ockam/src/lib.rs
Owners: @build-trust/approvers

feat(rust): add `ai connect` command
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/ai_platform.rs
  implementations/rust/ockam/ockam_command/src/ai/connect.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/mod.rs
  implementations/rust/ockam/ockam_command/src/ai/static/connect/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/connect/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/ticket.rs
  implementations/rust/ockam/ockam_command/src/ai/utils.rs
  implementations/rust/ockam/ockam_command/src/ai/zone_config.rs
  implementations/rust/ockam/ockam_command/src/node/mod.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/mod.rs
  implementations/rust/ockam/ockam_command/src/shared_args.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/mod.rs
Owners: @build-trust/approvers

feat(rust): full separate postgres data by tenant_id
  .editorconfig
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_policy_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_type_policy_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_enrollment_token_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_members_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/enrollments_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/identities_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/journeys_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/nodes_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/projects_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/spaces_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/users_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/vaults_repository_sql.rs
  implementations/rust/ockam/ockam_app_lib/src/state/model_state_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/change_history_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/credential_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/identity_attributes_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/purpose_keys/storage/purpose_keys_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/storage/secure_channel_repository_sql.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/sql/postgres/20240613110000_project_journey.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/sql/sqlite/20250407100000_tenant_id.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250410100000_tenant_id.sql
  implementations/rust/ockam/ockam_vault/src/storage/secrets_repository_sql.rs
Owners: @build-trust/approvers

feat(rust): full separate postgres data by tenant_id
  .editorconfig
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_policy_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_repository_sql.rs
  implementations/rust/ockam/ockam_abac/src/policy/storage/resource_type_policy_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_enrollment_token_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/authenticator/storage/authority_members_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/enrollments_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/identities_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/journeys_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/nodes_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/projects_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/spaces_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/users_repository_sql.rs
  implementations/rust/ockam/ockam_api/src/cli_state/storage/vaults_repository_sql.rs
  implementations/rust/ockam/ockam_app_lib/src/state/model_state_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/change_history_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/credential_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/identities/storage/identity_attributes_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/purpose_keys/storage/purpose_keys_repository_sql.rs
  implementations/rust/ockam/ockam_identity/src/secure_channels/storage/secure_channel_repository_sql.rs
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/sql/postgres/20240613110000_project_journey.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/application_migrations/sql/sqlite/20250407100000_tenant_id.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/postgres/20250115100000_create_database.sql
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/node_migrations/sql/sqlite/20250410100000_tenant_id.sql
  implementations/rust/ockam/ockam_vault/src/storage/secrets_repository_sql.rs
Owners: @build-trust/approvers

feat(rust): add `all` and `none` policies
  implementations/rust/ockam/ockam/src/relay_service/relay.rs
  implementations/rust/ockam/ockam/src/relay_service/relay_service.rs
  implementations/rust/ockam/ockam_abac/src/abac/abac.rs
  implementations/rust/ockam/ockam_abac/src/boolean_expr.rs
  implementations/rust/ockam/ockam_abac/src/eval.rs
  implementations/rust/ockam/ockam_abac/src/expr.rs
  implementations/rust/ockam/ockam_abac/src/parser.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_transport_udp/src/messages/routing_message.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/puncture/receiver.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/puncture/sender.rs
Owners: @build-trust/approvers

feat(rust): implement orchestrator api for provisioner service
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/tests.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/interceptor_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/models.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/requests.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/responses.rs
  implementations/rust/ockam/ockam_command/src/ai/connect.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/utils.rs
Owners: @build-trust/approvers

feat(rust): ai enroll returns cluster
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/enroll.rs
  implementations/rust/ockam/ockam_app_lib/src/enroll/enroll_user.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
Owners: @build-trust/approvers

refactor(rust): rename ai subcommands to `cluster`
  implementations/rust/ockam/ockam_command/src/cluster/connect.rs
  implementations/rust/ockam/ockam_command/src/cluster/create.rs
  implementations/rust/ockam/ockam_command/src/cluster/enroll.rs
  implementations/rust/ockam/ockam_command/src/cluster/mod.rs
  implementations/rust/ockam/ockam_command/src/cluster/static/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/connect/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/connect/long_about.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/create/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/create/long_about.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/enroll/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/enroll/long_about.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/long_about.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/ticket/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/ticket/long_about.txt
  implementations/rust/ockam/ockam_command/src/cluster/ticket.rs
  implementations/rust/ockam/ockam_command/src/cluster/utils.rs
  implementations/rust/ockam/ockam_command/src/cluster/zone_config.rs
  implementations/rust/ockam/ockam_command/src/lib.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
Owners: @build-trust/approvers

refactor(rust): rename `cluster connect` to `cluster inlet`
  implementations/rust/ockam/ockam_command/src/cluster/inlet.rs
  implementations/rust/ockam/ockam_command/src/cluster/mod.rs
  implementations/rust/ockam/ockam_command/src/cluster/static/inlet/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/inlet/long_about.txt
Owners: @build-trust/approvers

feat(rust): add `cluster outlet` command
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/cluster/create.rs
  implementations/rust/ockam/ockam_command/src/cluster/delete.rs
  implementations/rust/ockam/ockam_command/src/cluster/mod.rs
  implementations/rust/ockam/ockam_command/src/cluster/outlet.rs
  implementations/rust/ockam/ockam_command/src/cluster/static/delete/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/delete/long_about.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/outlet/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/outlet/long_about.txt
Owners: @build-trust/approvers

feat(rust): add `cluster init` command
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_command/src/cluster/init.rs
  implementations/rust/ockam/ockam_command/src/cluster/mod.rs
  implementations/rust/ockam/ockam_command/src/cluster/static/init/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/cluster/static/init/long_about.txt
Owners: @build-trust/approvers

feat(rust): add `all` and `none` policies
  implementations/rust/ockam/ockam/src/relay_service/relay.rs
  implementations/rust/ockam/ockam/src/relay_service/relay_service.rs
  implementations/rust/ockam/ockam_abac/src/abac/abac.rs
  implementations/rust/ockam/ockam_abac/src/boolean_expr.rs
  implementations/rust/ockam/ockam_abac/src/eval.rs
  implementations/rust/ockam/ockam_abac/src/expr.rs
  implementations/rust/ockam/ockam_abac/src/parser.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/kafka_services.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_outlets.rs
  implementations/rust/ockam/ockam_transport_udp/src/messages/routing_message.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/puncture/receiver.rs
  implementations/rust/ockam/ockam_transport_udp/src/puncture/puncture/sender.rs
Owners: @build-trust/approvers

feat(rust): `cluster inlet` use passed cluster
  implementations/rust/ockam/ockam_command/src/cluster/init.rs
  implementations/rust/ockam/ockam_command/src/cluster/inlet.rs
  implementations/rust/ockam/ockam_command/src/cluster/outlet.rs
Owners: @build-trust/approvers

feat(rust): revert `ai/enroll` endpoint usage
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/responses.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/enroll.rs
  implementations/rust/ockam/ockam_command/src/cluster/create.rs
  implementations/rust/ockam/ockam_command/src/cluster/delete.rs
  implementations/rust/ockam/ockam_command/src/cluster/inlet.rs
  implementations/rust/ockam/ockam_command/src/cluster/utils.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
Owners: @build-trust/approvers

feat(rust): add cluster cbor struct
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/responses.rs
  implementations/rust/ockam/ockam_command/src/cluster/create.rs
  implementations/rust/ockam/ockam_command/src/cluster/delete.rs
  implementations/rust/ockam/ockam_command/src/cluster/inlet.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
Owners: @build-trust/approvers

feat(rust): adjustments for public eks
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/requests.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/responses.rs
  implementations/rust/ockam/ockam_command/src/cluster/create.rs
  implementations/rust/ockam/ockam_command/src/cluster/delete.rs
  implementations/rust/ockam/ockam_command/src/cluster/inlet.rs
  implementations/rust/ockam/ockam_command/src/cluster/outlet.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
Owners: @build-trust/approvers

feat(rust): adjustments for public eks
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/requests.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/responses.rs
  implementations/rust/ockam/ockam_command/src/cluster/create.rs
  implementations/rust/ockam/ockam_command/src/cluster/delete.rs
  implementations/rust/ockam/ockam_command/src/cluster/inlet.rs
  implementations/rust/ockam/ockam_command/src/cluster/outlet.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
Owners: @build-trust/approvers

feat(rust): implement orchestrator api for provisioner service
  implementations/rust/ockam/ockam_api/src/kafka/protocol_aware/tests.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/integration_test.rs
  implementations/rust/ockam/ockam_api/src/kafka/tests/interceptor_test.rs
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/api.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/controller_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/mod.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/models.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/node_service_client.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/requests.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/ai_platform/responses.rs
  implementations/rust/ockam/ockam_command/src/ai/connect.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/utils.rs
Owners: @build-trust/approvers

feat(rust): add `ai connect` command
  implementations/rust/ockam/ockam_api/src/nodes/service.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/ai_platform.rs
  implementations/rust/ockam/ockam_command/src/ai/connect.rs
  implementations/rust/ockam/ockam_command/src/ai/deploy.rs
  implementations/rust/ockam/ockam_command/src/ai/mod.rs
  implementations/rust/ockam/ockam_command/src/ai/static/connect/after_long_help.txt
  implementations/rust/ockam/ockam_command/src/ai/static/connect/long_about.txt
  implementations/rust/ockam/ockam_command/src/ai/ticket.rs
  implementations/rust/ockam/ockam_command/src/ai/utils.rs
  implementations/rust/ockam/ockam_command/src/ai/zone_config.rs
  implementations/rust/ockam/ockam_command/src/node/mod.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/mod.rs
  implementations/rust/ockam/ockam_command/src/shared_args.rs
  implementations/rust/ockam/ockam_command/src/subcommand.rs
  implementations/rust/ockam/ockam_command/src/tcp/inlet/mod.rs
Owners: @build-trust/approvers

feat(rust): ai enroll returns cluster
  implementations/rust/ockam/ockam_api/src/enroll/enrollment.rs
  implementations/rust/ockam/ockam_api/src/orchestrator/enroll.rs
  implementations/rust/ockam/ockam_app_lib/src/enroll/enroll_user.rs
  implementations/rust/ockam/ockam_command/src/enroll/handler.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
Owners: @build-trust/approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format
