Repository build-trust/ockam, changes with the owners that .github/CODEOWNERS names for each.
All owners: @build-trust/approvers, @build-trust/cla-pr-approvers, @build-trust/ci-approvers

.github/CODEOWNERS:

# Request reviews from the approvers team
* @build-trust/approvers
/.github/CONTRIBUTORS.csv @build-trust/cla-pr-approvers
/.github/workflows @build-trust/ci-approvers
/.github/actions @build-trust/ci-approvers

# References on updating this file:
# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# https://git-scm.com/docs/gitignore#_pattern_format

test(rust): disable re-create outlet bats test
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
Owners: @build-trust/approvers

ci: run shfmt when bats file is modified
  .github/workflows/shell.yml
Owners: @build-trust/ci-approvers

ci: run shfmt when bats file is modified
  .github/workflows/shell.yml
Owners: @build-trust/ci-approvers

feat(elixir): update influxdb token lease manager response api
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager.ex
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager/cloud_service.ex
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager/cloud_service/influxdb.ex
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager/lease.ex
  implementations/elixir/ockam/ockam_services/test/services/token_lease_manager_memory_storage_test.exs
  implementations/elixir/ockam/ockam_services/test/services/token_lease_manager_test.exs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_token.rs
Owners: @build-trust/approvers

feat(elixir): update influxdb token lease manager response api
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager.ex
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager/cloud_service.ex
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager/cloud_service/influxdb.ex
  implementations/elixir/ockam/ockam_services/lib/services/token_lease_manager/lease.ex
  implementations/elixir/ockam/ockam_services/test/services/token_lease_manager_memory_storage_test.exs
  implementations/elixir/ockam/ockam_services/test/services/token_lease_manager_test.exs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/node_service.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_issuer/worker.rs
  implementations/rust/ockam/ockam_api/src/influxdb/lease_token.rs
Owners: @build-trust/approvers

fix(rust): added fs-based lock mechanism when migrating sqlite
  Cargo.lock
  implementations/rust/ockam/ockam_node/Cargo.toml
  implementations/rust/ockam/ockam_node/src/storage/database/migrations/migration_support/migrator.rs
Owners: @build-trust/approvers

fix: fixed some flaky tests and stopping nodes gracefully
  implementations/rust/ockam/ockam_command/tests/bats/load/base.bash
  implementations/rust/ockam/ockam_command/tests/bats/load/orchestrator.bash
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/nodes.bats
  implementations/rust/ockam/ockam_command/tests/bats/local/setup_suite.bash
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
Owners: @build-trust/approvers

test(rust): re-enable test
  implementations/rust/ockam/ockam_command/tests/bats/local/portals.bats
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
Owners: @build-trust/approvers

test(rust): re-enable test
  implementations/rust/ockam/ockam_command/tests/bats/orchestrator/portals.bats
Owners: @build-trust/approvers

feat(rust): improve error for `ockam node stop`
  implementations/rust/ockam/ockam_api/src/cli_state/nodes.rs
Owners: @build-trust/approvers

ci: add nodejs to elixir builder image
  tools/docker/wolfi/builder_image.yaml
Owners: @build-trust/approvers

ci: test
  implementations/elixir/ockam/ockam_rust_elixir_nifs/checksum-Elixir.OckamRustElixirNifs.Native.exs
  implementations/elixir/ockam/ockam_rust_elixir_nifs/mix.exs
  tools/docker/healthcheck/Dockerfile
Owners: @build-trust/approvers

feat(rust): allow relay connection failure without failing relay creation
  implementations/rust/ockam/ockam_api/src/kafka/key_exchange/controller.rs
  implementations/rust/ockam/ockam_api/src/nodes/models/relay.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/relay.rs
  implementations/rust/ockam/ockam_app_lib/src/shared_service/relay/create.rs
  implementations/rust/ockam/ockam_command/src/relay/create.rs
  tools/stress-test/src/execution.rs
Owners: @build-trust/approvers

feat(rust): use more monolith structure for ebpf portals
  Cargo.lock
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/outlet_listener_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
Owners: @build-trust/approvers

feat(rust): use more monolith structure for ebpf portals
  Cargo.lock
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/outlet_listener_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portal_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
Owners: @build-trust/approvers

chore(rust): add alias `encrypted-fields` to kafka-inlet create
  implementations/rust/ockam/ockam_command/src/kafka/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/kafka_inlet.rs
Owners: @build-trust/approvers

feat(rust): allow multiple values in node configuration entries
  implementations/rust/ockam/ockam_command/src/run/parser/building_blocks.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/node.rs
  implementations/rust/ockam/ockam_command/src/run/parser/variables.rs
Owners: @build-trust/approvers

feat(rust): more options on token management for influxdb_outlet
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): simplify influxdb outlet deployment options
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
Owners: @build-trust/approvers

fix(rust): fix ebpf portal route update
  implementations/rust/ockam/ockam_api/src/nodes/service/tcp_inlets/session_replacer.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/inlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/outlet_listener.rs
  implementations/rust/ockam/ockam_transport_tcp/src/transport/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/tests/portal.rs
Owners: @build-trust/approvers

feat(rust): use `L3` `RawSocket` instead of `L4`
  Cargo.lock
  implementations/rust/ockam/ockam_transport_core/src/error.rs
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/pnet_helper.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/raw_socket_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/remote_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/transport.rs
  implementations/rust/ockam/ockam_transport_tcp/src/lib.rs
Owners: @build-trust/approvers

test(rust): add ebpf portal bats tests
  .github/workflows/rust.yml
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/portals_ebpf.bats
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/setup_suite.bash
  implementations/rust/ockam/ockam_command/tests/bats/run.sh
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/raw_socket_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/remote_worker.rs
Owners: @build-trust/ci-approvers, @build-trust/approvers

feat(rust): add dedicated processor per inlet and outlet
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/internal_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/mod.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/portals.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/raw_socket_processor.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/inlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/registry/outlet.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/remote_worker.rs
  implementations/rust/ockam/ockam_transport_tcp/src/portal/options.rs
Owners: @build-trust/approvers

fix(rust): fix destination ip for raw socket
  implementations/rust/ockam/ockam_transport_core/src/error.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/pnet_helper.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/raw_socket_processor.rs
Owners: @build-trust/approvers

feat(rust): use `u64` for `ConnectionIdentifier`
  Cargo.lock
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/common.rs
Owners: @build-trust/approvers

chore: add rendezvous command examples
  examples/command/portals/rendezvous/aws-aws-different-regions/administrator_bob/run.sh
  examples/command/portals/rendezvous/aws-aws-different-regions/run.sh
  examples/command/portals/rendezvous/aws-aws-different-regions/user_alice/run.sh
  examples/command/portals/rendezvous/aws-aws-same-region-different-zone/administrator_bob/run.sh
  examples/command/portals/rendezvous/aws-aws-same-region-different-zone/run.sh
  examples/command/portals/rendezvous/aws-aws-same-region-different-zone/user_alice/run.sh
  examples/command/portals/rendezvous/aws-aws-same-region-same-zone/administrator_bob/run.sh
  examples/command/portals/rendezvous/aws-aws-same-region-same-zone/run.sh
  examples/command/portals/rendezvous/aws-aws-same-region-same-zone/user_alice/run.sh
  examples/command/portals/rendezvous/common/admin.sh
  examples/command/portals/rendezvous/common/aws.sh
  examples/command/portals/rendezvous/common/user.sh
Owners: @build-trust/approvers

test(rust): test ci failure
  .github/workflows/rust.yml
  implementations/rust/ockam/ockam_command/tests/bats/local_as_root/portals_ebpf.bats
Owners: @build-trust/ci-approvers, @build-trust/approvers

ci: upload logs of bats tests
  .github/workflows/rust.yml
Owners: @build-trust/ci-approvers

feat(rust): download ebpf binary from artifacts
  Cargo.lock
  implementations/rust/ockam/ockam_ebpf/.cargo/config.toml
  implementations/rust/ockam/ockam_ebpf/CHANGELOG.md
  implementations/rust/ockam/ockam_ebpf/Cargo.lock
  implementations/rust/ockam/ockam_ebpf/Cargo.toml
  implementations/rust/ockam/ockam_ebpf/README.md
  implementations/rust/ockam/ockam_ebpf/ockam_ebpf
  implementations/rust/ockam/ockam_ebpf/rust-toolchain.toml
  implementations/rust/ockam/ockam_ebpf/src/checksum.rs
  implementations/rust/ockam/ockam_ebpf/src/checksum_helpers.rs
  implementations/rust/ockam/ockam_ebpf/src/common.rs
  implementations/rust/ockam/ockam_ebpf/src/conversion.rs
  implementations/rust/ockam/ockam_ebpf/src/entrypoint.rs
  implementations/rust/ockam/ockam_ebpf/ubuntu_arm.yaml
  implementations/rust/ockam/ockam_ebpf/ubuntu_x86.yaml
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/build.rs
  implementations/rust/ockam/ockam_transport_tcp/src/ebpf_portal/ebpf_support.rs
  implementations/rust/ockam/ockam_transport_tcp/src/options.rs
Owners: @build-trust/approvers

feat(rust): simplify influxdb outlet deployment options
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_command/src/influxdb/inlet/create.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/influxdb_outlets.rs
Owners: @build-trust/approvers

feat(rust): more options on token management for influxdb_outlet
  implementations/rust/ockam/ockam_api/src/influxdb/gateway/token_lease_refresher.rs
  implementations/rust/ockam/ockam_api/src/influxdb/portal.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/default_address.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/worker.rs
  implementations/rust/ockam/ockam_command/src/influxdb/outlet/create.rs
Owners: @build-trust/approvers

feat(rust): compact enrollment ticket encoded format
  examples/rust/get_started/src/token.rs
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/authenticator/one_time_code.rs
  implementations/rust/ockam/ockam_api/src/cli_state/enrollments.rs
  implementations/rust/ockam/ockam_api/src/cloud/share/create.rs
  implementations/rust/ockam/ockam_api/src/cloud/share/invitation.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_app_lib/Cargo.toml
  implementations/rust/ockam/ockam_app_lib/src/background_node.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/state.rs
  implementations/rust/ockam/ockam_app_lib/src/projects/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project/util.rs
  implementations/rust/ockam/ockam_command/src/project_member/mod.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/project_enroll.rs
  implementations/rust/ockam/ockam_command/src/sidecar/secure_relay_inlet.rs
  implementations/rust/ockam/ockam_command/src/sidecar/secure_relay_outlet.rs
  implementations/rust/ockam/ockam_command/src/value_parsers.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
Owners: @build-trust/approvers

feat(rust): compact enrollment ticket encoded format
  examples/rust/get_started/src/token.rs
  implementations/rust/ockam/ockam_api/Cargo.toml
  implementations/rust/ockam/ockam_api/src/authenticator/one_time_code.rs
  implementations/rust/ockam/ockam_api/src/cli_state/enrollments.rs
  implementations/rust/ockam/ockam_api/src/cloud/share/create.rs
  implementations/rust/ockam/ockam_api/src/cloud/share/invitation.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/in_memory_node.rs
  implementations/rust/ockam/ockam_api/src/nodes/service/manager.rs
  implementations/rust/ockam/ockam_app_lib/Cargo.toml
  implementations/rust/ockam/ockam_app_lib/src/background_node.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/incoming_services/state.rs
  implementations/rust/ockam/ockam_app_lib/src/projects/commands.rs
  implementations/rust/ockam/ockam_app_lib/src/state/mod.rs
  implementations/rust/ockam/ockam_command/Cargo.toml
  implementations/rust/ockam/ockam_command/src/node/create/config.rs
  implementations/rust/ockam/ockam_command/src/project/enroll.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project/util.rs
  implementations/rust/ockam/ockam_command/src/project_member/mod.rs
  implementations/rust/ockam/ockam_command/src/run/parser/resource/project_enroll.rs
  implementations/rust/ockam/ockam_command/src/sidecar/secure_relay_inlet.rs
  implementations/rust/ockam/ockam_command/src/sidecar/secure_relay_outlet.rs
  implementations/rust/ockam/ockam_command/src/value_parsers.rs
  implementations/rust/ockam/ockam_command/tests/bats/local/authority.bats
Owners: @build-trust/approvers

feat(rust): cargo update deps
  Cargo.lock
  Cargo.toml
  NOTICE.md
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_rust_elixir_nifs/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_vault/Cargo.toml
  implementations/rust/ockam/ockam_vault_aws/Cargo.toml
Owners: @build-trust/approvers

feat(rust): cargo update deps
  Cargo.lock
  Cargo.toml
  NOTICE.md
  implementations/rust/ockam/ockam_core/Cargo.toml
  implementations/rust/ockam/ockam_rust_elixir_nifs/Cargo.toml
  implementations/rust/ockam/ockam_transport_tcp/Cargo.toml
  implementations/rust/ockam/ockam_vault/Cargo.toml
  implementations/rust/ockam/ockam_vault_aws/Cargo.toml
Owners: @build-trust/approvers

feat(rust): implement a more efficient function to delete all project members at once
  implementations/rust/ockam/ockam_api/src/authenticator/direct/client.rs
  implementations/rust/ockam/ockam_api/src/authenticator/direct/direct_authenticator.rs
  implementations/rust/ockam/ockam_api/src/authenticator/direct/direct_authenticator_worker.rs
Owners: @build-trust/approvers

feat(rust): use the project name directly for member commands
  implementations/rust/ockam/ockam_command/src/project/delete.rs
  implementations/rust/ockam/ockam_command/src/project/ticket.rs
  implementations/rust/ockam/ockam_command/src/project_member/add.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
  implementations/rust/ockam/ockam_command/src/project_member/list.rs
  implementations/rust/ockam/ockam_command/src/project_member/list_ids.rs
  implementations/rust/ockam/ockam_command/src/project_member/mod.rs
  implementations/rust/ockam/ockam_command/src/project_member/show.rs
Owners: @build-trust/approvers

feat(rust): number messages when trying to delete project members
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
Owners: @build-trust/approvers

feat(rust): remove the part where we delete members before deleting the project
  implementations/rust/ockam/ockam_command/src/project/delete.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
Owners: @build-trust/approvers

feat(rust): remove the part where we delete members before deleting the project
  implementations/rust/ockam/ockam_command/src/project/delete.rs
  implementations/rust/ockam/ockam_command/src/project_member/delete.rs
Owners: @build-trust/approvers
