Repository build-trust/ockam, pull requests merged in 2023-08, with the labels that each got.

#5474 feat: Enable tracing<->log bridge in ockam_app
  Cargo.lock
  implementations/rust/ockam/ockam_app/Cargo.toml
Labels: Priority: Low, Type: Enhancement, Implementation: Rust, Component: App

#5493 feat(rust): increase the timeout for accepting an authorization code in the pkce authentication flow
  implementations/rust/ockam/ockam_command/src/enroll/ockam_oidc_provider.rs
  implementations/rust/ockam/ockam_command/src/enroll/okta_oidc_provider.rs
Labels: Component: App

#5489 docs: add a data model for the desktop application
  documentation/architecture/desktop_application/README.md
  documentation/architecture/desktop_application/data-model.md
  documentation/architecture/desktop_application/diagrams/enroll.png
  documentation/architecture/desktop_application/diagrams/enroll.puml
  documentation/architecture/desktop_application/diagrams/invite.png
  documentation/architecture/desktop_application/diagrams/invite.puml
  documentation/architecture/desktop_application/diagrams/share.png
  documentation/architecture/desktop_application/diagrams/share.puml
Labels: Component: App

#5723 chore: use a different name for the desktop application executable
  implementations/rust/ockam/ockam_app/tauri.conf.json
Labels: Component: App

#5740 refactor: create outlets using worker address instead of tcp address
  implementations/rust/ockam/ockam_app/src/invitations/mod.rs
  implementations/rust/ockam/ockam_app/src/invitations/tray_menu.rs
  implementations/rust/ockam/ockam_app/src/shared_service/tray_menu.rs
Labels: Type: Maintenance, Implementation: Rust, Component: App

#5830 fix(rust): fix the sharing of a service by using the socket address of the outlet
  implementations/rust/ockam/ockam_app/src/invitations/tray_menu.rs
  implementations/rust/ockam/ockam_app/src/shared_service/tray_menu.rs
  implementations/typescript/ockam/ockam_app/src/routes/invite/[outlet_socket_addr]/+page.svelte
  implementations/typescript/ockam/ockam_app/src/routes/invite/[outlet_socket_addr]/+page.ts
  implementations/typescript/ockam/ockam_app/src/routes/invite/[outlet_socket_addr]/CreateServiceInvitation.svelte
Labels: Component: App
