Repository build-trust/ockam, pull requests merged in 2024-01, with the labels that each got.

#7334 cla: accepted by rahul007-bit
  .github/CONTRIBUTORS.csv
Labels: CLA-ACCEPTANCE

#7347 Update CONTRIBUTORS.csv
  .github/CONTRIBUTORS.csv
Labels: CLA-ACCEPTANCE

#7348 fix(swift): Fix accessibility issues on ClickableMenuItem
  implementations/swift/ockam/ockam_app/Ockam/ClickableMenuEntry.swift
Labels: Implementation: Swift

#7351 fix(swift): Disable autocorrect in textfields
  implementations/swift/ockam/ockam_app/Ockam/InviteToPortal.swift
  implementations/swift/ockam/ockam_app/Ockam/OpenPortal.swift
Labels: Implementation: Swift

#7353 refactor(node): improve error handling and decouple dependencies
  implementations/typescript/ockam/ockam_command/src/node.ts
Labels: Implementation: Typescript

#7354 test(typescript): add property-based tests for Node methods
  implementations/typescript/ockam/ockam_command/test/node.test.ts
Labels: Implementation: Typescript

#7364 Update CONTRIBUTORS.csv
  .github/CONTRIBUTORS.csv
Labels: CLA-ACCEPTANCE

#7376 docs: contributors
  .github/CONTRIBUTORS.csv
Labels: CLA-ACCEPTANCE
